HT32/14dsp_smb/DSP_錦明_UI.txt
[{"id":"dd386518.a87968","type":"ui_template","z":"2cb319b6.8d9896","group":"ef26629e.c6406","name":"","order":1,"width":"10","height":"9","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <img src=\"http://www.ctt-metal.com/images/ckfinder/images/20141018155215.jpg\" >\n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":820,"y":180,"wires":[[]]},{"id":"949a96a9.7368d8","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"388f5ae5.154f76","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":810,"y":300,"wires":[]},{"id":"17e4f857.1965f8","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":810,"y":340,"wires":[]},{"id":"197f8ecf.0b52e1","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":5,"width":"6","height":"2","name":"機台","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":810,"y":380,"wires":[]},{"id":"6a354ed.a4e24b","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":810,"y":420,"wires":[]},{"id":"eb93a7e8.b35098","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":810,"y":460,"wires":[]},{"id":"1ce25f62.8a11b1","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":8,"width":"6","height":"2","name":"震動","label":"{{msg.shock_label}}","format":"{{msg.shock}}","layout":"row-spread","x":930,"y":340,"wires":[]},{"id":"bc5546a9.397ab8","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":9,"width":"6","height":"2","name":"數量","label":"{{msg.object_label}}","format":"{{msg.object}}","layout":"row-spread","x":930,"y":260,"wires":[]},{"id":"60dbb728.819b98","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":10,"width":"6","height":"2","name":"溫度","label":"{{msg.temp_label}}","format":"{{msg.temp}}","layout":"row-spread","x":930,"y":300,"wires":[]},{"id":"a61bf832.73be48","type":"ui_text","z":"2cb319b6.8d9896","group":"ef26629e.c6406","order":11,"width":"6","height":"2","name":"電流","label":"{{msg.current1_label}}","format":"{{msg.current1}}","layout":"row-spread","x":930,"y":380,"wires":[]},{"id":"b85091b4.457c5","type":"function","z":"2cb319b6.8d9896","name":"機台一","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"機台名稱\".fontsize(\"5\");\nmsg.manager_label = \"管理者\".fontsize(\"5\");\nmsg.date = \"2019/02/21\".fontsize(50);\nmsg.time    = \"08:22:00\".fontsize(50);\nmsg.region  = \"A場域\".fontsize(50);\nmsg.name    = \"C505\".fontsize(50);\nmsg.manager = \"9527\".fontsize(50);\n\nmsg.shock_label = \"震動指數\".fontsize(\"5\");\nmsg.shock   = \"1000\".fontsize(50);\n\n\nmsg.object_label = \"物件數量\".fontsize(\"5\");\nmsg.object  = \"300\".fontsize(50);\n\n\nmsg.temp_label = \"機台溫度\".fontsize(\"5\");\nmsg.temp    = \"29.11\".fontsize(50);\n\nmsg.current1_label = \"機台電流\".fontsize(\"5\");\nmsg.current1 = \"1.23\".fontsize(50);\n\n\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\nmsg.monor_status = \"正常\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["949a96a9.7368d8","388f5ae5.154f76","17e4f857.1965f8","197f8ecf.0b52e1","6a354ed.a4e24b","eb93a7e8.b35098","bc5546a9.397ab8","60dbb728.819b98","1ce25f62.8a11b1","a61bf832.73be48"]]},{"id":"939af8f6.bd23e8","type":"inject","z":"2cb319b6.8d9896","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":320,"wires":[["b85091b4.457c5"]]},{"id":"7df346c7.550858","type":"ui_template","z":"2cb319b6.8d9896","group":"db578be5.083908","name":"","order":1,"width":"10","height":"9","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <img src=\"https://www.taichungdesign.com/wp-content/uploads/2018/07/33577265_995402813971117_8719296945371217920_o.jpg\" >\n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":840,"y":540,"wires":[[]]},{"id":"d9e50586.300d08","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":830,"y":640,"wires":[]},{"id":"9b32ea7e.aec318","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":830,"y":680,"wires":[]},{"id":"164afcaa.241933","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":830,"y":720,"wires":[]},{"id":"26755d56.f3a512","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":5,"width":"6","height":"2","name":"機台","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":830,"y":760,"wires":[]},{"id":"af94173f.a7c988","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":830,"y":800,"wires":[]},{"id":"11924331.d508bd","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":830,"y":840,"wires":[]},{"id":"b905e20e.4ecc2","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":8,"width":"6","height":"2","name":"震動","label":"{{msg.shock_label}}","format":"{{msg.shock}}","layout":"row-spread","x":950,"y":720,"wires":[]},{"id":"c863b49.1715e48","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":9,"width":"6","height":"2","name":"數量","label":"{{msg.object_label}}","format":"{{msg.object}}","layout":"row-spread","x":950,"y":640,"wires":[]},{"id":"d134c2c9.9d4dd","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":10,"width":"6","height":"2","name":"溫度","label":"{{msg.temp_label}}","format":"{{msg.temp}}","layout":"row-spread","x":950,"y":680,"wires":[]},{"id":"611b5b79.f27cc4","type":"ui_text","z":"2cb319b6.8d9896","group":"db578be5.083908","order":11,"width":"6","height":"2","name":"電流","label":"{{msg.current1_label}}","format":"{{msg.current1}}","layout":"row-spread","x":950,"y":760,"wires":[]},{"id":"874c486f.3fc758","type":"function","z":"2cb319b6.8d9896","name":"機台二","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"機台名稱\".fontsize(\"5\");\nmsg.manager_label = \"管理者\".fontsize(\"5\");\nmsg.date = \"2019/02/21\".fontsize(50);\nmsg.time    = \"08:22:00\".fontsize(50);\nmsg.region  = \"A場域\".fontsize(50);\nmsg.name    = \"C505\".fontsize(50);\nmsg.manager = \"9522\".fontsize(50);\n\nmsg.shock_label = \"震動指數\".fontsize(\"5\");\nmsg.shock   = \"0\".fontsize(50);\n\n\nmsg.object_label = \"物件數量\".fontsize(\"5\");\nmsg.object  = \"0\".fontsize(50);\n\n\nmsg.temp_label = \"機台溫度\".fontsize(\"5\");\nmsg.temp    = \"0\".fontsize(50);\n\nmsg.current1_label = \"機台電流\".fontsize(\"5\");\nmsg.current1 = \"0\".fontsize(50);\n\n\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\nmsg.monor_status = \"待機\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["d9e50586.300d08","9b32ea7e.aec318","164afcaa.241933","26755d56.f3a512","af94173f.a7c988","11924331.d508bd","c863b49.1715e48","d134c2c9.9d4dd","b905e20e.4ecc2","611b5b79.f27cc4"]]},{"id":"32902baa.5c0734","type":"inject","z":"2cb319b6.8d9896","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":700,"wires":[["874c486f.3fc758"]]},{"id":"774eacaa.307454","type":"ui_template","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","name":"","order":1,"width":"10","height":"9","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <img src=\"http://www.acutek-tw.com/UserFiles/Images/list_11939737600.jpg\" hight=\"100\"  width= \"75\" >\n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":840,"y":920,"wires":[[]]},{"id":"b10565ae.dc1578","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":830,"y":1000,"wires":[]},{"id":"34cc29e5.da3ba6","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":830,"y":1040,"wires":[]},{"id":"40c52d8a.d78124","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":830,"y":1080,"wires":[]},{"id":"879d25e7.a09a08","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":6,"width":"7","height":"2","name":"工件名稱","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":840,"y":1120,"wires":[]},{"id":"2f5d0fd0.db6b5","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":5,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":830,"y":1160,"wires":[]},{"id":"34cb7738.e14748","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":11,"width":"4","height":"2","name":"Y軸","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":830,"y":1200,"wires":[]},{"id":"97953d18.6efb2","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":8,"width":"4","height":"2","name":"震動","label":"{{msg.shock_label}}","format":"{{msg.shock}}","layout":"row-spread","x":950,"y":1080,"wires":[]},{"id":"51c617e5.de5278","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":9,"width":"4","height":"2","name":"數量","label":"{{msg.object_label}}","format":"{{msg.object}}","layout":"row-spread","x":950,"y":1000,"wires":[]},{"id":"78e13f7d.ec0c3","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":10,"width":"4","height":"2","name":"溫度","label":"{{msg.temp_label}}","format":"{{msg.temp}}","layout":"row-spread","x":950,"y":1040,"wires":[]},{"id":"1379a475.a9b71c","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":13,"width":"4","height":"2","name":"X軸","label":"{{msg.current1_label}}","format":"{{msg.current1}}","layout":"row-spread","x":970,"y":1120,"wires":[]},{"id":"805c4c8.32ce3b","type":"function","z":"2cb319b6.8d9896","name":"機台三","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"工件名稱\".fontsize(\"5\");\nmsg.manager_label = \"管理者\".fontsize(\"5\");\nmsg.date = \"2019/02/21\".fontsize(50);\nmsg.time    = \"08:22:00\".fontsize(50);\nmsg.region  = \"A場域\".fontsize(50);\nmsg.name    = \"23號螺桿\".fontsize(50);\nmsg.manager = \"鄭錦明\".fontsize(50);\n\nmsg.shock_label = \"震動指數\".fontsize(\"5\");\nmsg.shock   = \"10\".fontsize(50);\n\n\nmsg.object_label = \"物件數量\".fontsize(\"5\");\nmsg.object  = \"200\".fontsize(50);\n\n\nmsg.temp_label = \"機台溫度\".fontsize(\"5\");\nmsg.temp    = \"32.5\".fontsize(50);\n\nmsg.current1_label = \"X軸\".fontsize(\"5\");\nmsg.current1 = \"295.767\".fontsize(50);\n\nmsg.currentZ_label = \"Z軸\".fontsize(\"5\");\nmsg.currentZ = \"17.393\".fontsize(50);\n\nmsg.currentM_label = \"模式\".fontsize(\"5\");\nmsg.currentM = \"HANDLE\".fontsize(50);\n\n\nmsg.monor_status_label = \"Y軸\".fontsize(\"5\");\nmsg.monor_status = \"338.786\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1060,"wires":[["b10565ae.dc1578","34cc29e5.da3ba6","40c52d8a.d78124","879d25e7.a09a08","2f5d0fd0.db6b5","34cb7738.e14748","51c617e5.de5278","78e13f7d.ec0c3","97953d18.6efb2","1379a475.a9b71c","66599fff.2e0eb","c9ff0016.be6ea"]]},{"id":"1547641d.60cabc","type":"inject","z":"2cb319b6.8d9896","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1060,"wires":[["805c4c8.32ce3b"]]},{"id":"66599fff.2e0eb","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":12,"width":"4","height":"2","name":"Z軸","label":"{{msg.currentZ_label}}","format":"{{msg.currentZ}}","layout":"row-spread","x":970,"y":1160,"wires":[]},{"id":"c9ff0016.be6ea","type":"ui_text","z":"2cb319b6.8d9896","group":"9d08a112.5d5af","order":7,"width":"4","height":"2","name":"模式","label":"{{msg.currentM_label}}","format":"{{msg.currentM}}","layout":"row-spread","x":970,"y":1200,"wires":[]},{"id":"ef26629e.c6406","type":"ui_group","z":"","name":"Group 5","tab":"632566a9.f97d58","order":5,"disp":false,"width":"12"},{"id":"db578be5.083908","type":"ui_group","z":"","name":"Group 7","tab":"632566a9.f97d58","order":7,"disp":false,"width":"12"},{"id":"9d08a112.5d5af","type":"ui_group","z":"","name":"Group 8","tab":"632566a9.f97d58","order":8,"disp":false,"width":"12"},{"id":"632566a9.f97d58","type":"ui_tab","z":"","name":"DSP","icon":"dashboard"}]