HT32/14dsp_smb/node-red/DSP_factory_machine1_v6.txt
[{"id":"9db41dcc.b1614","type":"ui_template","z":"a3d24711.9e5918","group":"79f17be8.3e0414","name":"","order":1,"width":"10","height":"9","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"http://www.ctt-metal.com/images/ckfinder/images/20141018155215.jpg\" >-->\n        <img src=\"https://i.imgur.com/63LLEAH.png\" alt=\"\" />\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":425,"y":131,"wires":[[]]},{"id":"d7c954db.b168f8","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":638,"y":105,"wires":[]},{"id":"55905240.84ebec","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":638,"y":145,"wires":[]},{"id":"78729df4.df41b4","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":4,"width":"6","height":"2","name":"區域名稱","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":648,"y":185,"wires":[]},{"id":"fa2b67af.9951a8","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":5,"width":"6","height":"2","name":"生產工件","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":648,"y":225,"wires":[]},{"id":"3f49217a.e1eb3e","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":638,"y":265,"wires":[]},{"id":"d551be20.91e2d","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":638,"y":305,"wires":[]},{"id":"69150506.b2c9bc","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":11,"width":"6","height":"2","name":"震動","label":"{{msg.shock_label}}","format":"{{msg.shock}}","layout":"row-spread","x":639,"y":549,"wires":[]},{"id":"3d50b702.eb5378","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":8,"width":"6","height":"2","name":"良品數量","label":"{{msg.object_good_label}}","format":"{{msg.object_good}}","layout":"row-spread","x":658,"y":629,"wires":[]},{"id":"b95579da.686e68","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":10,"width":"6","height":"2","name":"溫度","label":"{{msg.temp_label}}","format":"{{msg.temp}}","layout":"row-spread","x":637,"y":511,"wires":[]},{"id":"7566d07.a06d73","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":12,"width":"6","height":"2","name":"電流","label":"{{msg.current1_label}}","format":"{{msg.current1}}","layout":"row-spread","x":637,"y":587,"wires":[]},{"id":"b6c8538c.3e5b5","type":"mqtt in","z":"a3d24711.9e5918","name":"","topic":"machine1","qos":"2","broker":"8c3aa1c4.8d023","x":81,"y":470,"wires":[["943c1e6e.13fa4","c4276d47.0ad9e"]]},{"id":"fae4bbd3.617e18","type":"function","z":"a3d24711.9e5918","name":"機台一","func":"var data = msg.payload;\n// msg.date = msg.payload.date;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"生產工件\".fontsize(\"5\");\nmsg.manager_label = \"使用者\".fontsize(\"5\");\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\nmsg.temp_label = \"機台溫度\".fontsize(\"5\");\nmsg.shock_label = \"震動\".fontsize(\"5\");\nmsg.current1_label = \"機台電流\".fontsize(\"5\");\nmsg.object_good_label = \"良品數量\".fontsize(\"5\");\nmsg.object_bad_label = \"不良品數量\".fontsize(\"5\");\nmsg.trun_label = \"直徑旋轉\".fontsize(\"5\");\nmsg.up_label = \"品檢上升\".fontsize(\"5\");\nmsg.down_label = \"品檢下降\".fontsize(\"5\");\nmsg.motor_label = \"輸送帶馬達\".fontsize(\"5\");\nmsg.trun_c_label = \"直徑旋轉次數\".fontsize(\"5\");\nmsg.up_c_label = \"品檢上升次數\".fontsize(\"5\");\nmsg.down_c_label = \"品檢下降次數\".fontsize(\"5\");\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time = msg.payload.time.fontsize(6);\nmsg.region = msg.payload.m1_rgion.fontsize(6);\nmsg.name = msg.payload.m1_work.fontsize(6);\nmsg.manager = msg.payload.m1_user.fontsize(6);\nmsg.monor_status = msg.payload.m1_status.fontsize(6);\nmsg.temp = msg.payload.st1.fontsize(6);\nmsg.shock = msg.payload.ss1.fontsize(6);\nmsg.current1 = msg.payload.sa1.fontsize(6);\nmsg.object_good = msg.payload.sc1_sok.fontsize(6);\nmsg.object_bad = msg.payload.sc1_sno.fontsize(6);\nmsg.trun = msg.payload.sp1_trun.fontsize(6);\nmsg.up = msg.payload.sp1_up.fontsize(6);\nmsg.down = msg.payload.sp1_down.fontsize(6);\nmsg.motor = msg.payload.sp1_motor.fontsize(6);\nmsg.trun_c = msg.payload.sp1_trun_c.fontsize(6);\nmsg.up_c = msg.payload.sp1_up_c.fontsize(6);\nmsg.down_c = msg.payload.sp1_down_c.fontsize(6);\n// msg.object  = msg.payload.fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n\n\n// msg.object1  = data[0][5];\n\n\n\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":411,"wires":[["d7c954db.b168f8","55905240.84ebec","78729df4.df41b4","fa2b67af.9951a8","3f49217a.e1eb3e","d551be20.91e2d","3d50b702.eb5378","b95579da.686e68","69150506.b2c9bc","7566d07.a06d73","2056a2a.233525e","1fdad93e.eef577","8d8d21fc.5a04f","77a2fa9.9d51104","aea18145.f70f6","72939c98.1a83e4","a331647f.c10ba8","76c234dd.43a28c"]]},{"id":"2056a2a.233525e","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":9,"width":"6","height":"2","name":"不良品數量","label":"{{msg.object_bad_label}}","format":"{{msg.object_bad}}","layout":"row-spread","x":662,"y":671,"wires":[]},{"id":"1fdad93e.eef577","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":19,"width":"6","height":"2","name":"直徑旋轉","label":"{{msg.trun_label}}","format":"{{msg.trun}}","layout":"row-spread","x":658,"y":714,"wires":[]},{"id":"77a2fa9.9d51104","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":17,"width":"6","height":"2","name":"品檢上升","label":"{{msg.up_label}}","format":"{{msg.up}}","layout":"row-spread","x":640,"y":361,"wires":[]},{"id":"8d8d21fc.5a04f","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":15,"width":"6","height":"2","name":"品檢下降","label":"{{msg.down_label}}","format":"{{msg.down}}","layout":"row-spread","x":666,"y":765,"wires":[]},{"id":"72939c98.1a83e4","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":13,"width":"6","height":"2","name":"輸送帶馬達","label":"{{msg.motor_label}}","format":"{{msg.motor}}","layout":"row-spread","x":637,"y":412,"wires":[]},{"id":"aea18145.f70f6","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":18,"width":"6","height":"2","name":"直徑旋轉次數","label":"{{msg.trun_c_label}}","format":"{{msg.trun_c}}","layout":"row-spread","x":698,"y":821,"wires":[]},{"id":"a331647f.c10ba8","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":16,"width":"6","height":"2","name":"品檢上升次數","label":"{{msg.up_c_label}}","format":"{{msg.up_c}}","layout":"row-spread","x":639,"y":465,"wires":[]},{"id":"76c234dd.43a28c","type":"ui_text","z":"a3d24711.9e5918","group":"79f17be8.3e0414","order":14,"width":"6","height":"2","name":"品檢下降次數","label":"{{msg.down_c_label}}","format":"{{msg.down_c}}","layout":"row-spread","x":722,"y":865,"wires":[]},{"id":"dbd2d1cc.fd24c","type":"inject","z":"a3d24711.9e5918","name":"","topic":"","payload":"{   \"date\": \"2019/3/6\",   \"time\": \"下午 05:20\",   \"m1_rgion\": \"A區域\",   \"m1_work\": \"3號工件\",   \"m1_status\": \"正常狀態\",   \"st1\": \"25.35\",   \"sa1\": \"0.32\",   \"ss1\": \"0\",   \"sc1_sok\": \"836\",   \"sc1_sno\": \"0\",   \"sp1_trun\": \"停止動作\",   \"sp1_up\": \"停止動作\",   \"sp1_down\": \"停止動作\",   \"sp1_motor\": \"停止動作\",   \"sp1_trun_c\": \"0\",   \"sp1_up_c\": \"0\",   \"sp1_down_c\": \"0\",   \"m1_user\": \"王小明\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":112,"y":360,"wires":[["5db3497c.2bdc38"]]},{"id":"5db3497c.2bdc38","type":"debug","z":"a3d24711.9e5918","name":"","active":true,"console":"false","complete":"false","x":253,"y":256,"wires":[]},{"id":"943c1e6e.13fa4","type":"debug","z":"a3d24711.9e5918","name":"","active":true,"console":"false","complete":"false","x":226,"y":495,"wires":[]},{"id":"c4276d47.0ad9e","type":"json","z":"a3d24711.9e5918","name":"","pretty":false,"x":198,"y":437,"wires":[["fae4bbd3.617e18"]]},{"id":"681b9c51.9f2b04","type":"http in","z":"a3d24711.9e5918","name":"","url":"/machine1","method":"get","upload":false,"swaggerDoc":"","x":120,"y":48,"wires":[["78180905.74c9b8"]]},{"id":"78180905.74c9b8","type":"file in","z":"a3d24711.9e5918","name":"","filename":"/tmp/機台一.png","format":"","sendError":true,"x":299,"y":45,"wires":[["bb271d56.8dd91"]]},{"id":"bb271d56.8dd91","type":"change","z":"a3d24711.9e5918","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":48,"wires":[["e0b05e47.3da6e"]]},{"id":"e0b05e47.3da6e","type":"http response","z":"a3d24711.9e5918","name":"","x":610,"y":48,"wires":[]},{"id":"79f17be8.3e0414","type":"ui_group","z":"","name":"機台1","tab":"7faa0213.0775fc","order":5,"disp":false,"width":"12","collapse":false},{"id":"8c3aa1c4.8d023","type":"mqtt-broker","z":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7faa0213.0775fc","type":"ui_tab","z":"","name":"DSP_機台1","icon":"dashboard","order":11}]