HT32/14dsp_smb/node-red/DSP_factory_machine3_v3.txt
[{"id":"acd6884.5cb0178","type":"ui_template","z":"168a9c80.a29204","group":"76320676.f15a68","name":"","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"http://www.acutek-tw.com/UserFiles/Images/list_11939737600.jpg\" height=\"100\"  width= \"75\" >-->\n        <img src=\"https://i.imgur.com/XtsrGD0.jpg\" alt=\"\" />\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":688,"y":181,"wires":[[]]},{"id":"705ef132.e42ac","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":678,"y":261,"wires":[]},{"id":"8bcb39e3.256ec8","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":678,"y":301,"wires":[]},{"id":"c4905f0.ad189a","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":4,"width":"6","height":"2","name":"區域名稱","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":688,"y":341,"wires":[]},{"id":"32cd416b.6baffe","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":5,"width":"6","height":"2","name":"生產工件","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":688,"y":381,"wires":[]},{"id":"83a3cf7a.cb859","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":6,"width":"6","height":"2","name":"使用者","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":678,"y":421,"wires":[]},{"id":"e51964a9.0a4ae8","type":"function","z":"168a9c80.a29204","name":"機台三","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"生產工件\".fontsize(\"5\");\nmsg.manager_label = \"使用者\".fontsize(\"5\");\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\nmsg.open_time_label = \"開機時間\".fontsize(\"5\");\nmsg.mode_label = \"模式\".fontsize(\"5\");\nmsg.m_x_label = \"機械X軸\".fontsize(\"5\");\nmsg.m_y_label = \"機械Y軸\".fontsize(\"5\");\nmsg.m_z_label = \"機械Z軸\".fontsize(\"5\");\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time    = msg.payload.time.fontsize(6);\nmsg.region  = msg.payload.m3_rgion.fontsize(6);\nmsg.name    = msg.payload.m3_work.fontsize(6);\nmsg.manager = msg.payload.m3_user.fontsize(6);\nmsg.monor_status = msg.payload.m3_status.fontsize(6);\nmsg.open_time = msg.payload.m3_open.fontsize(6);\nmsg.mode = msg.payload.m3_mode.fontsize(6);\nmsg.m_x = msg.payload.m3_m_x.fontsize(6);\nmsg.m_y = msg.payload.m3_m_y.fontsize(6);\nmsg.m_z = msg.payload.m3_m_z.fontsize(6);\n\n// msg.shock_label = \"震動指數\".fontsize(\"5\");\n// msg.shock   = \"10\".fontsize(50);\n\n\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n// msg.object  = \"200\".fontsize(50);\n\n\n// msg.temp_label = \"機台溫度\".fontsize(\"5\");\n// msg.temp    = \"32.5\".fontsize(50);\n\n// msg.current1_label = \"X軸\".fontsize(\"5\");\n// msg.current1 = \"295.767\".fontsize(50);\n\n// msg.currentZ_label = \"Z軸\".fontsize(\"5\");\n// msg.currentZ = \"17.393\".fontsize(50);\n\n// msg.currentM_label = \"模式\".fontsize(\"5\");\n// msg.currentM = \"HANDLE\".fontsize(50);\n\n\n// msg.monor_status_label = \"Y軸\".fontsize(\"5\");\n// msg.monor_status = \"338.786\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":463,"wires":[["705ef132.e42ac","8bcb39e3.256ec8","c4905f0.ad189a","32cd416b.6baffe","83a3cf7a.cb859","ccc365e3.6551e8","5cf76cb8.6e8874","f1cff8af.7ddff8","7e4bd64d.1de5d8","15f78d7e.6b71e3","558c1582.49c14c"]]},{"id":"24bcce5a.2c66d2","type":"mqtt in","z":"168a9c80.a29204","name":"","topic":"machine3","qos":"2","broker":"8c3aa1c4.8d023","x":83,"y":570,"wires":[["23871dd5.498972","365ad0dd.e09de"]]},{"id":"23871dd5.498972","type":"json","z":"168a9c80.a29204","name":"","pretty":false,"x":279,"y":542,"wires":[["e51964a9.0a4ae8","275fc1eb.5be23e"]]},{"id":"1edd6c34.ae9ae4","type":"inject","z":"168a9c80.a29204","name":"","topic":"","payload":"{   \"date\": \"2019/3/6\",   \"time\": \"下午 05:20\",   \"m3_rgion\": \"A區域\",   \"m3_work\": \"3號工件\",   \"m3_status\": \"正常狀態\",   \"m3_open\": \"1\",   \"m3_mode\": \"1\",   \"m3_m_x\": \"1\",   \"m3_m_y\": \"1\",   \"m3_m_z\": \"1\",   \"m3_user\": \"王小明\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":80,"y":418,"wires":[["23871dd5.498972"]]},{"id":"ccc365e3.6551e8","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":7,"width":"6","height":"2","name":"機台狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":685,"y":470,"wires":[]},{"id":"275fc1eb.5be23e","type":"debug","z":"168a9c80.a29204","name":"","active":false,"console":"false","complete":"false","x":402,"y":386,"wires":[]},{"id":"f1cff8af.7ddff8","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":11,"width":"6","height":"2","name":"Y軸","label":"{{msg.m_y_label}}","format":"{{msg.m_y}}","layout":"row-spread","x":690,"y":656,"wires":[]},{"id":"5cf76cb8.6e8874","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":10,"width":"6","height":"2","name":"X軸","label":"{{msg.m_x_label}}","format":"{{msg.m_x}}","layout":"row-spread","x":689,"y":612,"wires":[]},{"id":"7e4bd64d.1de5d8","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":12,"width":"6","height":"2","name":"Z軸","label":"{{msg.m_z_label}}","format":"{{msg.m_z}}","layout":"row-spread","x":694,"y":707,"wires":[]},{"id":"15f78d7e.6b71e3","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":9,"width":"6","height":"2","name":"模式","label":"{{msg.mode_label}}","format":"{{msg.mode}}","layout":"row-spread","x":687,"y":567,"wires":[]},{"id":"558c1582.49c14c","type":"ui_text","z":"168a9c80.a29204","group":"76320676.f15a68","order":8,"width":"6","height":"2","name":"開機時間","label":"{{msg.open_time_label}}","format":"{{msg.open_time}}","layout":"row-spread","x":692,"y":522,"wires":[]},{"id":"365ad0dd.e09de","type":"debug","z":"168a9c80.a29204","name":"","active":true,"console":"false","complete":"false","x":249,"y":378,"wires":[]},{"id":"7d25c513.3cce9c","type":"http in","z":"168a9c80.a29204","name":"","url":"/machine3","method":"get","upload":false,"swaggerDoc":"","x":106,"y":109,"wires":[["d33c436.8efd3c"]]},{"id":"d33c436.8efd3c","type":"file in","z":"168a9c80.a29204","name":"","filename":"/tmp/機台三.jpg","format":"","sendError":true,"x":285,"y":106,"wires":[["126468c5.d23f67"]]},{"id":"126468c5.d23f67","type":"change","z":"168a9c80.a29204","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":456,"y":109,"wires":[["4e9f30a4.4288c"]]},{"id":"4e9f30a4.4288c","type":"http response","z":"168a9c80.a29204","name":"","x":596,"y":109,"wires":[]},{"id":"76320676.f15a68","type":"ui_group","z":"","name":"機台3","tab":"4525a4fd.b9e2ac","order":1,"disp":true,"width":"12","collapse":false},{"id":"8c3aa1c4.8d023","type":"mqtt-broker","z":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4525a4fd.b9e2ac","type":"ui_tab","z":"","name":"DSP_機台3","icon":"dashboard","order":12}]