HT32/14dsp_smb/node-red/DSP_factory_machine_all_v5.txt
[{"id":"f512c05b.a25a8","type":"ui_template","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","name":"","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            /*h2*/\n            /*{*/\n            /* font-size:45px;   */\n            /*}*/\n            /*h3*/\n            /*{*/\n            /* font-size:40px;   */\n            /*}*/\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"http://www.ctt-metal.com/images/ckfinder/images/20141018155215.jpg\" >-->\n        <!--<img src=\"http://127.0.0.1:1880/machine1\" alt=\"\" />-->\n        <img src=\"https://i.imgur.com/63LLEAH.png\" alt=\"\" />\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":518,"y":100,"wires":[[]]},{"id":"be3a28ac.d378e8","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":707.0000610351562,"y":191.00001525878906,"wires":[]},{"id":"6fe7f44a.2e8a0c","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":700.0000610351562,"y":251.00001525878906,"wires":[]},{"id":"dfc42e1c.536fe","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":700,"y":308,"wires":[]},{"id":"9f37785e.8abcd8","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":5,"width":"6","height":"2","name":"機台","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":700,"y":348,"wires":[]},{"id":"56703e2d.b0202","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":700,"y":388,"wires":[]},{"id":"e3286654.fb60b8","type":"ui_text","z":"5c557c90.0f5aa4","group":"555d8dcc.155e44","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":700,"y":428,"wires":[]},{"id":"7166e116.cf087","type":"function","z":"5c557c90.0f5aa4","name":"機台一","func":"var data = msg.payload;\n// msg.date = msg.payload.date;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"生產工件\".fontsize(\"5\");\nmsg.manager_label = \"使用者\".fontsize(\"5\");\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\n\n// msg.shock_label = \"震動\".fontsize(\"5\");\n\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time = msg.payload.time.fontsize(6);\nmsg.region = msg.payload.m1_rgion.fontsize(6);\nmsg.name = msg.payload.m1_work.fontsize(6);\nmsg.manager = msg.payload.m1_user.fontsize(6);\nmsg.monor_status = msg.payload.m1_status.fontsize(6);\n// msg.shock   = \"1000\".fontsize(50);\n\n\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n// msg.object  = \"300\".fontsize(50);\n\n\n// msg.temp_label = \"機台溫度\".fontsize(\"5\");\n// msg.temp    = \"29.11\".fontsize(50);\n\n// msg.current1_label = \"機台電流\".fontsize(\"5\");\n// msg.current1 = \"1.23\".fontsize(50);\n\n\n\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":475,"wires":[["be3a28ac.d378e8","6fe7f44a.2e8a0c","dfc42e1c.536fe","9f37785e.8abcd8","56703e2d.b0202","e3286654.fb60b8"]]},{"id":"1572517b.88c5af","type":"ui_template","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","name":"","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n            img\n            {\n                width:100%;\n                height:100%;\n            }\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"https://www.taichungdesign.com/wp-content/uploads/2018/07/33577265_995402813971117_8719296945371217920_o.jpg\">-->\n        <!--<img src=\"http://127.0.0.1:1880/machine2\" alt=\"\" />-->\n        <img src=\"https://i.imgur.com/miPLmJT.jpg\" alt=\"\" />\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":508,"wires":[[]]},{"id":"afa698c7.6f0938","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":720,"y":608,"wires":[]},{"id":"38d7f304.cdf7fc","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":720,"y":648,"wires":[]},{"id":"1a49541d.b1b25c","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":720,"y":688,"wires":[]},{"id":"5fc52077.b36e5","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":5,"width":"6","height":"2","name":"機台","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":720,"y":728,"wires":[]},{"id":"6c2ff853.db2dd8","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":720,"y":768,"wires":[]},{"id":"bf41fb19.9733a8","type":"ui_text","z":"5c557c90.0f5aa4","group":"64ecb4dc.63955c","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":720,"y":808,"wires":[]},{"id":"d2e2f906.eafce8","type":"function","z":"5c557c90.0f5aa4","name":"機台二","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"生產工件\".fontsize(\"5\");\nmsg.manager_label = \"使用者\".fontsize(\"5\");\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time = msg.payload.time.fontsize(6);\nmsg.region = msg.payload.m2_rgion.fontsize(6);\nmsg.name = msg.payload.m2_work.fontsize(6);\nmsg.manager = msg.payload.m2_user.fontsize(6);\nmsg.monor_status = msg.payload.m2_status.fontsize(6);\n// msg.shock_label = \"震動指數\".fontsize(\"5\");\n// msg.shock   = \"0\".fontsize(50);\n\n\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n// msg.object  = \"0\".fontsize(50);\n\n\n// msg.temp_label = \"機台溫度\".fontsize(\"5\");\n// msg.temp    = \"0\".fontsize(50);\n\n// msg.current1_label = \"機台電流\".fontsize(\"5\");\n// msg.current1 = \"0\".fontsize(50);\n\n\n\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":668,"wires":[["afa698c7.6f0938","38d7f304.cdf7fc","1a49541d.b1b25c","5fc52077.b36e5","6c2ff853.db2dd8","bf41fb19.9733a8"]]},{"id":"473ec583.0c54ac","type":"inject","z":"5c557c90.0f5aa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184,"y":702,"wires":[["d2e2f906.eafce8"]]},{"id":"b6e91646.b3d758","type":"ui_template","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","name":"","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"http://www.acutek-tw.com/UserFiles/Images/list_11939737600.jpg\" height=\"100\"  width= \"75\" >-->\n        <!--<img src=\"http://127.0.0.1:1880/machine3\" alt=\"\" />-->\n        <img src=\"https://i.imgur.com/XtsrGD0.jpg\" alt=\"\" />\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":888,"wires":[[]]},{"id":"9f1560dd.e6825","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":720,"y":968,"wires":[]},{"id":"b71df53e.0c10f8","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":720,"y":1008,"wires":[]},{"id":"f71591be.430b5","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":4,"width":"6","height":"2","name":"場域","label":"{{msg.region_label}}","format":"{{msg.region}}","layout":"row-spread","x":720,"y":1048,"wires":[]},{"id":"c1339f02.b683d","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":5,"width":"6","height":"2","name":"工件名稱","label":"{{msg.name_label}}","format":"{{msg.name}}","layout":"row-spread","x":730,"y":1088,"wires":[]},{"id":"f3a0a73.2905c58","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":6,"width":"6","height":"2","name":"人員","label":"{{msg.manager_label}}","format":"{{msg.manager}}","layout":"row-spread","x":720,"y":1128,"wires":[]},{"id":"3667a117.695ade","type":"function","z":"5c557c90.0f5aa4","name":"機台三","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.region_label = \"區域名稱\".fontsize(\"5\");\nmsg.name_label = \"生產工件\".fontsize(\"5\");\nmsg.manager_label = \"使用者\".fontsize(\"5\");\nmsg.monor_status_label = \"機台狀態\".fontsize(\"5\");\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time    = msg.payload.time.fontsize(6);\nmsg.region  = msg.payload.m3_rgion.fontsize(6);\nmsg.name    = msg.payload.m3_work.fontsize(6);\nmsg.manager = msg.payload.m3_user.fontsize(6);\nmsg.monor_status = msg.payload.m3_status.fontsize(6);\n// msg.shock_label = \"震動指數\".fontsize(\"5\");\n// msg.shock   = \"10\".fontsize(50);\n\n\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n// msg.object  = \"200\".fontsize(50);\n\n\n// msg.temp_label = \"機台溫度\".fontsize(\"5\");\n// msg.temp    = \"32.5\".fontsize(50);\n\n// msg.current1_label = \"X軸\".fontsize(\"5\");\n// msg.current1 = \"295.767\".fontsize(50);\n\n// msg.currentZ_label = \"Z軸\".fontsize(\"5\");\n// msg.currentZ = \"17.393\".fontsize(50);\n\n// msg.currentM_label = \"模式\".fontsize(\"5\");\n// msg.currentM = \"HANDLE\".fontsize(50);\n\n\n// msg.monor_status_label = \"Y軸\".fontsize(\"5\");\n// msg.monor_status = \"338.786\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1028,"wires":[["9f1560dd.e6825","b71df53e.0c10f8","f71591be.430b5","c1339f02.b683d","f3a0a73.2905c58","78ead3a6.71ba0c"]]},{"id":"5317363f.08f448","type":"inject","z":"5c557c90.0f5aa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":1028,"wires":[["3667a117.695ade"]]},{"id":"940e4843.e60b08","type":"mqtt in","z":"5c557c90.0f5aa4","name":"","topic":"machine1","qos":"2","broker":"8c3aa1c4.8d023","x":137.8828125,"y":446.6054992675781,"wires":[["7d518a03.825144","350b7408.21684c"]]},{"id":"791975e2.6a4bec","type":"inject","z":"5c557c90.0f5aa4","name":"","topic":"","payload":"{   \"date\": \"2019/3/6\",   \"time\": \"下午 10:55\",   \"m1_rgion\": \"A區域\",   \"m1_work\": \"3號工件\",   \"m1_user\": \"王小明\",   \"m1_status\": \"正常狀態\",   \"lab_st1\": \"25.35\",   \"sa1\": \"0.32\",   \"ss1\": \"0\",   \"sc1_sok\": \"836\",   \"sc1_pok\": \"1 \",   \"sc1_sno\": \"0\",   \"sc1_pno\": \" 0\",   \"sp1_trun \": \"停止動作\",   \"sp1_up\": \"停止動作\",   \"sp1_down\": \"停止動作\",   \"sp1_motor\": \"停止動作\",   \"sp1_trun_c\": \"0\",   \"sp1_up_c \": \"0\",   \"sp1_down_c\": \"0\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.01953125,"y":369.0039052963257,"wires":[["9edbed9.d9f0d1","dc803197.aa08e"]]},{"id":"9edbed9.d9f0d1","type":"debug","z":"5c557c90.0f5aa4","name":"","active":false,"console":"false","complete":"false","x":396.01953887939453,"y":385.0039119720459,"wires":[]},{"id":"dc803197.aa08e","type":"json","z":"5c557c90.0f5aa4","name":"","pretty":false,"x":286.01953125,"y":290.0039367675781,"wires":[["7166e116.cf087","8a5e809a.51af6"]]},{"id":"8a5e809a.51af6","type":"debug","z":"5c557c90.0f5aa4","name":"","active":false,"console":"false","complete":"false","x":467.0195617675781,"y":289.00392150878906,"wires":[]},{"id":"98c10ad8.304728","type":"inject","z":"5c557c90.0f5aa4","name":"","topic":"","payload":"{   \"date\": \"2019/3/6\",   \"time\": \"下午 05:20\",   \"sa1\": \"0.32\",   \"ss1\": \"0\",   \"sc1_sok\": \"836\",   \"sc1_sno\": \"0\",   \"sp1_up\": \"停止動作\",   \"sp1_down\": \"停止動作\",   \"sp1_motor\": \"停止動作\",   \"sp1_trun_c\": \"0\",   \"sp1_down_c\": \"0\",   \"m2_rgion\": \"B區域\",   \"m2_work\": \"3號工件\",   \"m2_status\": \"關機狀態\",   \"lab_st1\": \"25.35\",   \"sc1_pok\": \"1 \",   \"sc1_pno\": \" 0\",   \"sp1_trun \": \"停止動作\",   \"sp1_up_c \": \"0\",   \"m2_user\": \"鍾志勳\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":630,"wires":[["db1450f.9ba6eb"]]},{"id":"db1450f.9ba6eb","type":"json","z":"5c557c90.0f5aa4","name":"","pretty":false,"x":285,"y":630,"wires":[["d2e2f906.eafce8","5510fd3b.1525f4"]]},{"id":"5510fd3b.1525f4","type":"debug","z":"5c557c90.0f5aa4","name":"","active":true,"console":"false","complete":"false","x":371,"y":726,"wires":[]},{"id":"fc904d6f.4fe05","type":"mqtt in","z":"5c557c90.0f5aa4","name":"","topic":"machine3","qos":"2","broker":"8c3aa1c4.8d023","x":107,"y":982,"wires":[["4f947cd7.7fea74"]]},{"id":"4f947cd7.7fea74","type":"json","z":"5c557c90.0f5aa4","name":"","pretty":false,"x":272,"y":983,"wires":[["3667a117.695ade","15f2f85d.6b11c8"]]},{"id":"400225c1.ae3a4c","type":"inject","z":"5c557c90.0f5aa4","name":"","topic":"","payload":"{   \"date\": \"2019/3/6\",   \"time\": \"下午 11:20\",   \"m3_rgion\": \"A區域\",   \"m3_work\": \"3號工件\",   \"m3_status\": \"正常狀態\",   \"lab_st1\": \"25.35\",   \"sa1\": \"0.32\",   \"ss1\": \"0\",   \"sc1_sok\": \"836\",   \"sc1_pok\": \"1 \",   \"sc1_sno\": \"0\",   \"sc1_pno\": \" 0\",   \"sp1_trun \": \"停止動作\",   \"sp1_up\": \"停止動作\",   \"sp1_down\": \"停止動作\",   \"sp1_motor\": \"停止動作\",   \"sp1_trun_c\": \"0\",   \"sp1_up_c \": \"0\",   \"sp1_down_c\": \"0\",   \"m3_user\": \"王中明\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":172,"y":886,"wires":[["4f947cd7.7fea74"]]},{"id":"78ead3a6.71ba0c","type":"ui_text","z":"5c557c90.0f5aa4","group":"c5b95fe8.4b431","order":7,"width":"6","height":"2","name":"狀態","label":"{{msg.monor_status_label}}","format":"{{msg.monor_status}}","layout":"row-spread","x":717,"y":1177,"wires":[]},{"id":"15f2f85d.6b11c8","type":"debug","z":"5c557c90.0f5aa4","name":"","active":true,"console":"false","complete":"false","x":342,"y":912,"wires":[]},{"id":"7d518a03.825144","type":"debug","z":"5c557c90.0f5aa4","name":"","active":false,"console":"false","complete":"false","x":143,"y":409,"wires":[]},{"id":"350b7408.21684c","type":"json","z":"5c557c90.0f5aa4","name":"","pretty":false,"x":294,"y":460,"wires":[["7166e116.cf087"]]},{"id":"8ba6108f.8710c","type":"http in","z":"5c557c90.0f5aa4","name":"","url":"/machine1","method":"get","upload":false,"swaggerDoc":"","x":140,"y":30,"wires":[["83815464.fa60a8"]]},{"id":"83815464.fa60a8","type":"file in","z":"5c557c90.0f5aa4","name":"","filename":"/tmp/機台一.png","format":"","sendError":true,"x":319,"y":27,"wires":[["1057f631.d115da"]]},{"id":"1057f631.d115da","type":"change","z":"5c557c90.0f5aa4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":30,"wires":[["a5c5bc6c.80e9e"]]},{"id":"a5c5bc6c.80e9e","type":"http response","z":"5c557c90.0f5aa4","name":"","x":630,"y":30,"wires":[]},{"id":"392ce7b6.e66ba8","type":"http in","z":"5c557c90.0f5aa4","name":"","url":"/machine2","method":"get","upload":false,"swaggerDoc":"","x":122,"y":550,"wires":[["db6cdcf0.ad387"]]},{"id":"db6cdcf0.ad387","type":"file in","z":"5c557c90.0f5aa4","name":"","filename":"/tmp/機台二.jpg","format":"","sendError":true,"x":301,"y":547,"wires":[["788c5b36.1f9664"]]},{"id":"788c5b36.1f9664","type":"change","z":"5c557c90.0f5aa4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":472,"y":550,"wires":[["8bf61450.a18ed8"]]},{"id":"8bf61450.a18ed8","type":"http response","z":"5c557c90.0f5aa4","name":"","x":612,"y":550,"wires":[]},{"id":"ae63c550.93b188","type":"http in","z":"5c557c90.0f5aa4","name":"","url":"/machine3","method":"get","upload":false,"swaggerDoc":"","x":119,"y":837,"wires":[["30477c4c.7b3914"]]},{"id":"30477c4c.7b3914","type":"file in","z":"5c557c90.0f5aa4","name":"","filename":"/tmp/機台三.jpg","format":"","sendError":true,"x":298,"y":834,"wires":[["98da120e.64ee"]]},{"id":"98da120e.64ee","type":"change","z":"5c557c90.0f5aa4","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":469,"y":837,"wires":[["61b45792.f12718"]]},{"id":"61b45792.f12718","type":"http response","z":"5c557c90.0f5aa4","name":"","x":609,"y":837,"wires":[]},{"id":"555d8dcc.155e44","type":"ui_group","z":"","name":"機台1","tab":"1d604579.4e9d5b","order":1,"disp":false,"width":"12","collapse":false},{"id":"64ecb4dc.63955c","type":"ui_group","z":"","name":"機台2","tab":"1d604579.4e9d5b","order":2,"disp":false,"width":"12","collapse":false},{"id":"c5b95fe8.4b431","type":"ui_group","z":"","name":"機台3","tab":"1d604579.4e9d5b","order":3,"disp":false,"width":"12","collapse":false},{"id":"8c3aa1c4.8d023","type":"mqtt-broker","z":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1d604579.4e9d5b","type":"ui_tab","z":"","name":"DSP","icon":"dashboard"}]