HT32/14dsp_smb/node-red/DSP_factory_machine_air_quality_v1.txt
[{"id":"2ab7b06e.80359","type":"ui_template","z":"cc9f7561.946028","group":"c7d2699b.339bf8","name":"","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta http-equiv=\"content-type\" content=\"text/html; charset=utf-8\" />\n        <title></title>\n        <style>\n            h2 , h3 \n            {\n            text-align:center;    \n            }\n            \n            h2\n            {\n             font-size:45px;   \n            }\n            h3\n            {\n             font-size:40px;   \n            }\n        </style>\n    </head>\n    <body>\n        <!--<img src=\"http://www.acutek-tw.com/UserFiles/Images/list_11939737600.jpg\" height=\"100\"  width= \"75\" >-->\n        \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":681,"y":86,"wires":[[]]},{"id":"642c0fbc.2f026","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":2,"width":"6","height":"2","name":"日期","label":"{{msg.date_label}}","format":"{{msg.date}}","layout":"row-spread","x":671,"y":166,"wires":[]},{"id":"65fd1857.670488","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":3,"width":"6","height":"2","name":"時間","label":"{{msg.time_label}}","format":"{{msg.time}}","layout":"row-spread","x":671,"y":206,"wires":[]},{"id":"69e5a4d0.ff81ec","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":4,"width":"6","height":"2","name":"溫度","label":"{{msg.temp_label}}","format":"{{msg.temp}}","layout":"row-spread","x":671,"y":246,"wires":[]},{"id":"952ed932.d79868","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":5,"width":"6","height":"2","name":"濕度","label":"{{msg.humi_label}}","format":"{{msg.humi}}","layout":"row-spread","x":671,"y":286,"wires":[]},{"id":"d0656059.8c629","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":6,"width":"6","height":"2","name":"CO2","label":"{{msg.CO2_label}}","format":"{{msg.CO2}}","layout":"row-spread","x":671,"y":326,"wires":[]},{"id":"cd874911.cc1e88","type":"function","z":"cc9f7561.946028","name":"環境監控","func":"var data = msg.payload;\n\nmsg.date_label = \"日期\".fontsize(\"5\");\nmsg.time_label = \"時間\".fontsize(\"5\");\nmsg.temp_label = \"溫度\".fontsize(\"5\");\nmsg.humi_label = \"濕度\".fontsize(\"5\");\nmsg.CO2_label = \"CO2\".fontsize(\"5\");\nmsg.HCHO_label = \"甲醛\".fontsize(\"5\");\nmsg.TVOC_label = \"TVOC\".fontsize(\"5\");\nmsg.light_label = \"光照度\".fontsize(\"5\");\n// msg.m_x_label = \"機械X軸\".fontsize(\"5\");\n// msg.m_y_label = \"機械Y軸\".fontsize(\"5\");\n// msg.m_z_label = \"機械Z軸\".fontsize(\"5\");\n\nmsg.date = msg.payload.date.fontsize(6);\nmsg.time    = msg.payload.time.fontsize(6);\nmsg.temp  = msg.payload.et.fontsize(6);\nmsg.humi    = msg.payload.eh.fontsize(6);\nmsg.CO2 = msg.payload.ec.fontsize(6);\nmsg.HCHO = msg.payload.ef.fontsize(6);\nmsg.TVOC = msg.payload.ev.fontsize(6);\nmsg.light = msg.payload.el.fontsize(6);\n// msg.m_x = msg.payload.m3_m_x.fontsize(6);\n// msg.m_y = msg.payload.m3_m_y.fontsize(6);\n// msg.m_z = msg.payload.m3_m_z.fontsize(6);\n\n// msg.shock_label = \"震動指數\".fontsize(\"5\");\n// msg.shock   = \"10\".fontsize(50);\n\n\n// msg.object_label = \"物件數量\".fontsize(\"5\");\n// msg.object  = \"200\".fontsize(50);\n\n\n// msg.temp_label = \"機台溫度\".fontsize(\"5\");\n// msg.temp    = \"32.5\".fontsize(50);\n\n// msg.current1_label = \"X軸\".fontsize(\"5\");\n// msg.current1 = \"295.767\".fontsize(50);\n\n// msg.currentZ_label = \"Z軸\".fontsize(\"5\");\n// msg.currentZ = \"17.393\".fontsize(50);\n\n// msg.currentM_label = \"模式\".fontsize(\"5\");\n// msg.currentM = \"HANDLE\".fontsize(50);\n\n\n// msg.monor_status_label = \"Y軸\".fontsize(\"5\");\n// msg.monor_status = \"338.786\".fontsize(50);\n\n// msg.machine_status  = data[0][8].fontsize(50);\n\n// msg.object_good_label = \"良品\".fontsize(\"5\");\n// msg.object_good  = data[0][5].fontsize(50);\n// msg.object1  = data[0][5];\n\n// msg.object_bad_label = \"不良品\".fontsize(\"5\");\n// msg.object_bad1 = data[0][15].fontsize(50);\n// msg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":310,"wires":[["642c0fbc.2f026","65fd1857.670488","69e5a4d0.ff81ec","952ed932.d79868","d0656059.8c629","79256d71.ab5ea4","2a765b71.8dea64","929c62e6.7d593"]]},{"id":"97399d16.203b9","type":"mqtt in","z":"cc9f7561.946028","name":"","topic":"milieu","qos":"2","broker":"8c3aa1c4.8d023","x":116,"y":347,"wires":[["dd143d0f.7874a"]]},{"id":"dd143d0f.7874a","type":"json","z":"cc9f7561.946028","name":"","pretty":false,"x":267,"y":312,"wires":[["cd874911.cc1e88","d224b56f.730c18"]]},{"id":"1ca372ae.014bad","type":"inject","z":"cc9f7561.946028","name":"","topic":"","payload":"{   \"date\": \"2019/3/8\",   \"time\": \"下午 02:20\",   \"et\": \"25.6\",   \"eh\": \"78.2\",   \"ec\": \"600\",   \"ef\": \"0\",   \"ev\": \"0\",   \"el\": \"12000\" }","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":274,"wires":[["dd143d0f.7874a"]]},{"id":"79256d71.ab5ea4","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":7,"width":"6","height":"2","name":"甲醛","label":"{{msg.HCHO_label}}","format":"{{msg.HCHO}}","layout":"row-spread","x":668,"y":375,"wires":[]},{"id":"d224b56f.730c18","type":"debug","z":"cc9f7561.946028","name":"","active":true,"console":"false","complete":"false","x":252,"y":208,"wires":[]},{"id":"2a765b71.8dea64","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":7,"width":"6","height":"2","name":"光照度","label":"{{msg.light_label}}","format":"{{msg.light}}","layout":"row-spread","x":680,"y":472,"wires":[]},{"id":"929c62e6.7d593","type":"ui_text","z":"cc9f7561.946028","group":"c7d2699b.339bf8","order":7,"width":"6","height":"2","name":"TVOC","label":"{{msg.TVOC_label}}","format":"{{msg.TVOC}}","layout":"row-spread","x":675,"y":427,"wires":[]},{"id":"c7d2699b.339bf8","type":"ui_group","z":"","name":"空氣品質","tab":"dd7f268b.4d32b8","order":1,"disp":true,"width":"12","collapse":false},{"id":"8c3aa1c4.8d023","type":"mqtt-broker","z":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dd7f268b.4d32b8","type":"ui_tab","z":"","name":"環境監控","icon":"dashboard","order":13}]