HT32/smb/NODE_PC.txt
[{"id":"23176cc5.4facc4","type":"function","z":"fe2974a8.a3a848","name":"","func":"msg1 = {};\nlabel = \"A廠區\";\nmsg.date = \"2018-10-22\";\nmsg.time = \"18:24:18\";\nmsg.A = label.fontsize(\"10\");\n\n\nmsg.C505 = \"C506\";\nmsg.name = \"志勳\";\nmsg.one = \"300\";\nmsg.two = \"100\";\nmsg.temp = \"25\";\nmsg.status = \"正常\";\n\n\nreturn [msg ];","outputs":1,"noerr":0,"x":326,"y":213.99998664855957,"wires":[[]]},{"id":"92993c9d.0d649","type":"inject","z":"fe2974a8.a3a848","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":153.99998664855957,"wires":[["18fc1c64.60c3a4"]]},{"id":"8f0433c8.a47ee","type":"ui_text","z":"fe2974a8.a3a848","group":"d23b45c9.194a58","order":1,"width":"3","height":"1","name":"日期","label":"","format":"{{msg.date}}","layout":"row-right","x":835,"y":206.99998664855957,"wires":[]},{"id":"26e2c764.27a398","type":"ui_chart","z":"fe2974a8.a3a848","name":"機台狀態","group":"dab108a3.365638","order":1,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","colors":["#00ff00","#ffff00","#df7000","#ff0000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":812,"y":699,"wires":[[],[]]},{"id":"91d0c5ff.87bc18","type":"ui_gauge","z":"fe2974a8.a3a848","name":"機台溫度","group":"3c0e6c6e.24dd34","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ff8000","#ca3838"],"seg1":"28.5","seg2":"32","x":840,"y":660,"wires":[]},{"id":"bdc93f9a.4721c","type":"ui_text","z":"fe2974a8.a3a848","group":"8f223fa9.14857","order":2,"width":"3","height":"1","name":"時間","label":"","format":"{{msg.time}}","layout":"row-right","x":831,"y":258.99998664855957,"wires":[]},{"id":"6954e880.538738","type":"ui_text","z":"fe2974a8.a3a848","group":"e90cbc87.7de4b","order":3,"width":"6","height":"1","name":"區域顯示","label":"","format":"{{msg.region}}","layout":"row-right","x":821,"y":298.99998664855957,"wires":[]},{"id":"aaa3cfff.61d12","type":"ui_text","z":"fe2974a8.a3a848","group":"abbceea3.91b14","order":4,"width":"3","height":"1","name":"工件名稱","label":"","format":"{{msg.name}}","layout":"row-right","x":821,"y":338.99998664855957,"wires":[]},{"id":"3e03e7f8.86b448","type":"ui_text","z":"fe2974a8.a3a848","group":"cebc67eb.dc1898","order":5,"width":"3","height":"1","name":"管理者","label":"","format":"{{msg.manager}}","layout":"row-right","x":811,"y":378.99998664855957,"wires":[],"icon":"node-red-node-rbe/rbe.png"},{"id":"fd2fe530.103698","type":"ui_text","z":"fe2974a8.a3a848","group":"405a4c41.e97314","order":6,"width":"3","height":"1","name":"震動指數","label":"","format":"{{msg.shock}}","layout":"row-right","x":821,"y":418.99998664855957,"wires":[]},{"id":"9b644a57.46e6e8","type":"ui_text","z":"fe2974a8.a3a848","group":"2e1edb7c.203e24","order":7,"width":"3","height":"1","name":"物件數量","label":"","format":"{{msg.object}}","layout":"row-right","x":821,"y":458.99998664855957,"wires":[]},{"id":"d227dab6.358a28","type":"ui_text","z":"fe2974a8.a3a848","group":"da6a03a6.57a46","order":1,"width":"3","height":"1","name":"機台溫度","label":"","format":"{{msg.temp}}","layout":"row-right","x":821,"y":498.99998664855957,"wires":[]},{"id":"2ec93419.51d9bc","type":"ui_text","z":"fe2974a8.a3a848","group":"b481f607.936118","order":1,"width":"3","height":"1","name":"機台狀態","label":"","format":"{{msg.machine_status}}","layout":"row-right","x":817,"y":621.0000009536743,"wires":[]},{"id":"5bdd840a.cc109c","type":"ui_text","z":"fe2974a8.a3a848","group":"6c05b120.7d2c7","order":1,"width":"3","height":"1","name":"日期","label":"","format":"{{msg.date}}","layout":"row-right","x":1011,"y":198.99998664855957,"wires":[]},{"id":"5358ea2b.52ee34","type":"ui_chart","z":"fe2974a8.a3a848","name":"機台狀態","group":"9e0931d8.1695","order":1,"width":0,"height":0,"label":"","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"colors":["#00ff00","#ffff00","#df7000","#ff0000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":980,"y":700,"wires":[[],[]]},{"id":"956abcb4.62e8b","type":"ui_gauge","z":"fe2974a8.a3a848","name":"機台溫度","group":"e6e55f24.bde4a","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ff8000","#ca3838"],"seg1":"28.5","seg2":"32","x":1000,"y":660,"wires":[]},{"id":"d2f3ad1b.dd839","type":"ui_text","z":"fe2974a8.a3a848","group":"fa5b3825.4797f8","order":2,"width":"3","height":"1","name":"時間","label":"","format":"{{msg.time}}","layout":"row-right","x":1007,"y":250.99998664855957,"wires":[]},{"id":"9449628f.07efe","type":"ui_text","z":"fe2974a8.a3a848","group":"2ca71142.f9cc6e","order":3,"width":"6","height":"1","name":"區域顯示","label":"","format":"{{msg.region}}","layout":"row-right","x":997,"y":290.99998664855957,"wires":[]},{"id":"f7e7e9ce.f42c08","type":"ui_text","z":"fe2974a8.a3a848","group":"44ab0a1f.7f4014","order":4,"width":"3","height":"1","name":"工件名稱","label":"","format":"{{msg.name}}","layout":"row-right","x":997,"y":330.99998664855957,"wires":[]},{"id":"83dfac43.d683e","type":"ui_text","z":"fe2974a8.a3a848","group":"15f861ff.5d6c6e","order":5,"width":"3","height":"1","name":"管理者","label":"","format":"{{msg.manager}}","layout":"row-right","x":987,"y":370.99998664855957,"wires":[],"icon":"node-red-node-rbe/rbe.png"},{"id":"7a96701d.2e958","type":"ui_text","z":"fe2974a8.a3a848","group":"e782184.06db9e8","order":6,"width":"3","height":"1","name":"震動指數","label":"","format":"{{msg.shock}}","layout":"row-right","x":997,"y":410.99998664855957,"wires":[]},{"id":"3f2f110a.dc95be","type":"ui_text","z":"fe2974a8.a3a848","group":"784eb50f.20592c","order":7,"width":"3","height":"1","name":"物件數量","label":"","format":"{{msg.object}}","layout":"row-right","x":997,"y":450.99998664855957,"wires":[]},{"id":"d524fb55.af5cf8","type":"ui_text","z":"fe2974a8.a3a848","group":"bb082f23.c2daf","order":1,"width":"3","height":"1","name":"機台溫度","label":"","format":"{{msg.temp}}","layout":"row-right","x":997,"y":490.99998664855957,"wires":[]},{"id":"acaa91aa.4fe47","type":"ui_text","z":"fe2974a8.a3a848","group":"35f733e2.35fe3c","order":1,"width":"3","height":"1","name":"機台狀態","label":"","format":"{{msg.machine_status}}","layout":"row-right","x":1003.9999847412109,"y":615.0000076293945,"wires":[]},{"id":"b56d3fb7.3cd19","type":"mqtt in","z":"fe2974a8.a3a848","name":"","topic":"factory_machine1","qos":"2","broker":"8f1cda2.6398828","x":131,"y":858.9999866485596,"wires":[["140fe97a.c45b77"]]},{"id":"cabb8b7f.4c9ad8","type":"mqtt in","z":"fe2974a8.a3a848","name":"","topic":"factory_machine2","qos":"2","broker":"8f1cda2.6398828","x":131,"y":898.9999866485596,"wires":[["fffd7f4a.6e08c"]]},{"id":"140fe97a.c45b77","type":"json","z":"fe2974a8.a3a848","name":"","property":"payload","action":"","pretty":false,"x":323,"y":856.9999866485596,"wires":[["6075b3ec.0a30fc","68a892de.b1bbac","e04ce4ab.cf43e8"]]},{"id":"fffd7f4a.6e08c","type":"json","z":"fe2974a8.a3a848","name":"","property":"payload","action":"","pretty":false,"x":323,"y":897.9999866485596,"wires":[["f1d36995.691ef8","3e13cbd1.470864"]]},{"id":"6075b3ec.0a30fc","type":"function","z":"fe2974a8.a3a848","name":"機台一","func":"var data = msg.payload;\n\nmsg.date = data[0].slice(0,10);\nmsg.time    = data[1];\nmsg.region  = data[2].fontsize(\"5\");\nmsg.name    = data[3].fontsize(\"5\");\nmsg.manager = data[4].fontsize(\"5\");\nmsg.shock   = data[5].fontsize(\"5\");\nmsg.shock1   = data[5];\nmsg.object  = data[6].fontsize(\"5\");\nmsg.object1  = data[6];\nmsg.temp    = data[7].fontsize(\"5\");\nmsg.current1 = data[8].fontsize(\"5\");\nmsg.temp1    = data[7];\nmsg.current2 = data[8];\nmsg.monor_status = data[10].fontsize(\"5\");\nmsg.machine_status  = data[9].fontsize(\"5\");\nmsg.value   = data[6];\nmsg.object1  = data[5];\nmsg.object_bad  = data[11];\nreturn msg;","outputs":1,"noerr":0,"x":1028,"y":16.999990463256836,"wires":[["5bdd840a.cc109c","d2f3ad1b.dd839","9449628f.07efe","f7e7e9ce.f42c08","83dfac43.d683e","7a96701d.2e958","3f2f110a.dc95be","d524fb55.af5cf8","acaa91aa.4fe47","4b834537.68a3dc","8b3ae9b7.a1a378","7c53eac1.822b84"]]},{"id":"f1d36995.691ef8","type":"function","z":"fe2974a8.a3a848","name":"機台二","func":"var data = msg.payload;\n\nmsg.date = data[0].date.slice(0,10);\nmsg.time    = data[0].time;\nmsg.region  = data[0][1].fontsize(\"5\");\nmsg.name    = data[0][2].fontsize(\"5\");\nmsg.manager = data[0][3].fontsize(\"5\");\nmsg.shock   = data[0][4].fontsize(\"5\");\nmsg.shock1   = data[0][4];\nmsg.object  = data[0][5].fontsize(\"5\");\nmsg.object1  = data[0][5];\nmsg.temp    = data[0][6].fontsize(\"5\");\nmsg.current1 = data[0][7].fontsize(\"5\");\nmsg.temp1    = data[0][6];\nmsg.current2 = data[0][7];\nmsg.monor_status = data[0][8].fontsize(\"5\");\nmsg.machine_status  = data[0][9].fontsize(\"5\");\nmsg.value   = data[0][6];\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":17.999990463256836,"wires":[["bdc93f9a.4721c","6954e880.538738","aaa3cfff.61d12","3e03e7f8.86b448","fd2fe530.103698","9b644a57.46e6e8","d227dab6.358a28","2ec93419.51d9bc","8f0433c8.a47ee","ca40101f.c00d2","7c294706.e88638","4b0fd99a.48e7f8"]]},{"id":"68a892de.b1bbac","type":"function","z":"fe2974a8.a3a848","name":"機台1","func":"var fruit = [\"0\" , \"0\" , \"0\" , \"0\"]\nvar fruit_long = msg.payload.length;\nvar status1 = 0\nvar status2 = 0\nvar status3 = 0\nvar status4 = 0\nfor(i = 0 ; i < fruit_long ; i++ )\n{\n\n    if(msg.payload[i][9] == \"正常狀態\")\n    {\n        fruit[0] = (status1++);\n    }\n    if(msg.payload[i][9] == \"警告狀態\")\n    {\n        fruit[1] = (status2++)\n    }\n    if(msg.payload[i][9] == \"待機狀態\")\n    {\n        fruit[2] = (status3++)\n    }\n    if(msg.payload[i][9] == \"危險狀態\")\n    {\n        fruit[3] = (status4++)\n    }\n}    \nmsg.payload = fruit;\nreturn msg;","outputs":1,"noerr":0,"x":1015.0000152587891,"y":57.00000190734863,"wires":[["1cd43c90.a50bd3"]]},{"id":"18fc1c64.60c3a4","type":"function","z":"fe2974a8.a3a848","name":"","func":"var fruit = [\"0\" , \"1\" , \"2\" , \"3\"]\nvar z = 10;\nvar y = 15;\nvar zxc = z + y ;\nfruit[0] = zxc;\nmsg.payload = fruit;\nreturn msg;","outputs":1,"noerr":0,"x":43.88671875,"y":274.42577266693115,"wires":[["e76c7073.3d9cc"]]},{"id":"e76c7073.3d9cc","type":"debug","z":"fe2974a8.a3a848","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":287.01953125,"y":286.00389289855957,"wires":[]},{"id":"1cd43c90.a50bd3","type":"function","z":"fe2974a8.a3a848","name":"機台1","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.topic = \"正常狀態\"\nmsg2.topic = \"警告狀態\"\nmsg3.topic = \"待機狀態\"\nmsg4.topic = \"危險狀態\"\n\nvar data1 = msg.payload[0];\nvar data2 = msg.payload[1];\nvar data3 = msg.payload[2];\nvar data4 = msg.payload[3];\n\nmsg1.payload = data1.toString()\n\nmsg2.payload = data2.toString()\n\nmsg3.payload = data3.toString()\n\nmsg4.payload = data4.toString()\n\nreturn [msg1  , msg2 , msg3 , msg4];","outputs":4,"noerr":0,"x":1013.3945617675781,"y":107.42189598083496,"wires":[["5358ea2b.52ee34"],["5358ea2b.52ee34"],["5358ea2b.52ee34"],["5358ea2b.52ee34"]]},{"id":"3e13cbd1.470864","type":"function","z":"fe2974a8.a3a848","name":"機台2","func":"var fruit = [\"0\" , \"0\" , \"0\" , \"0\"]\nvar fruit_long = msg.payload.length;\nvar status1 = 0\nvar status2 = 0\nvar status3 = 0\nvar status4 = 0\nfor(i = 0 ; i < fruit_long ; i++ )\n{\n\n    if(msg.payload[i][7] == \"正常狀態\")\n    {\n        fruit[0] = (status1++);\n    }\n    if(msg.payload[i][7] == \"異常狀態\")\n    {\n        fruit[1] = (status2++)\n    }\n    if(msg.payload[i][7] == \"待機狀態\")\n    {\n        fruit[2] = (status3++)\n    }\n    if(msg.payload[i][7] == \"危險狀態\")\n    {\n        fruit[3] = (status4++)\n    }\n}    \nmsg.payload = fruit;\nreturn msg;","outputs":1,"noerr":0,"x":805.5195770263672,"y":65.0038890838623,"wires":[["a1a59c05.639f4"]]},{"id":"a1a59c05.639f4","type":"function","z":"fe2974a8.a3a848","name":"機台2","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.topic = \"正常狀態\"\nmsg2.topic = \"異常狀態\"\nmsg3.topic = \"待機狀態\"\nmsg4.topic = \"危險狀態\"\n\nvar data1 = msg.payload[0];\nvar data2 = msg.payload[1];\nvar data3 = msg.payload[2];\nvar data4 = msg.payload[3];\n\nmsg1.payload = data1.toString()\n\nmsg2.payload = data2.toString()\n\nmsg3.payload = data3.toString()\n\nmsg4.payload = data4.toString()\n\nreturn [msg1  , msg2 , msg3 , msg4];","outputs":4,"noerr":0,"x":799.51953125,"y":118.00389289855957,"wires":[["26e2c764.27a398"],["26e2c764.27a398"],["26e2c764.27a398"],["26e2c764.27a398"]]},{"id":"ca40101f.c00d2","type":"ui_text","z":"fe2974a8.a3a848","group":"9bfed96c.888388","order":1,"width":"3","height":"1","name":"機台電流","label":"","format":"{{msg.current1}}","layout":"row-right","x":816.51953125,"y":536.0038928985596,"wires":[]},{"id":"7c294706.e88638","type":"ui_text","z":"fe2974a8.a3a848","group":"27e144ab.67f47c","order":1,"width":"3","height":"1","name":"馬達狀況","label":"","format":"{{msg.monor_status}}","layout":"row-right","x":816.51953125,"y":576.0038928985596,"wires":[]},{"id":"4b834537.68a3dc","type":"ui_text","z":"fe2974a8.a3a848","group":"f8954ce1.89d58","order":1,"width":"3","height":"1","name":"機台電流","label":"","format":"{{msg.current1}}","layout":"row-right","x":993.51953125,"y":530.0038928985596,"wires":[]},{"id":"8b3ae9b7.a1a378","type":"ui_text","z":"fe2974a8.a3a848","group":"4de22b10.4369d4","order":1,"width":"3","height":"1","name":"馬達狀況","label":"","format":"{{msg.monor_status}}","layout":"row-right","x":996.51953125,"y":570.0038928985596,"wires":[]},{"id":"54ee8941.990728","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"64cfad23.0561c4","order":0,"width":0,"height":0,"label":"震動指數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1013,"y":884.9999866485596,"wires":[[],[]]},{"id":"7c53eac1.822b84","type":"function","z":"fe2974a8.a3a848","name":"","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\n\nmsg2.topic = \"良品\";\nmsg5.topic = \"不良品\";\nmsg1.payload = msg.shock1;\nmsg2.payload = msg.object1;\nmsg3.payload = msg.temp1 \nmsg4.payload = msg.current2\nmsg5.payload = msg.object_bad\nreturn[msg1 , msg2 , msg3 , msg4 , msg5]","outputs":5,"noerr":0,"x":983,"y":775.9999866485596,"wires":[["54ee8941.990728"],["e3bae442.799aa8"],["8cf51b43.859488","956abcb4.62e8b"],["6f6b7f.ac35f48"],["e3bae442.799aa8"]]},{"id":"e04ce4ab.cf43e8","type":"debug","z":"fe2974a8.a3a848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":680,"wires":[]},{"id":"8cf51b43.859488","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"4b8d4178.6aa0c","order":1,"width":0,"height":0,"label":"機台溫度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1020,"y":960,"wires":[[],[]]},{"id":"6f6b7f.ac35f48","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"4b8d4178.6aa0c","order":2,"width":0,"height":0,"label":"機台電流","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1021,"y":1007.9999866485596,"wires":[[],[]]},{"id":"993f61af.de629","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"9415f66b.420f68","order":0,"width":0,"height":0,"label":"震動指數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":815,"y":895.9999866485596,"wires":[[],[]]},{"id":"4b0fd99a.48e7f8","type":"function","z":"fe2974a8.a3a848","name":"","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.payload = msg.shock1;\nmsg2.payload = msg.object1;\nmsg3.payload = msg.temp1 \nmsg4.payload = msg.current2\n\nreturn[msg1 , msg2 , msg3 , msg4]","outputs":4,"noerr":0,"x":785,"y":786.9999866485596,"wires":[["993f61af.de629"],["7c52e087.7e419"],["11dd5e3c.8eb0b2","91d0c5ff.87bc18"],["d5360f7f.b7e47"]]},{"id":"7c52e087.7e419","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"9415f66b.420f68","order":0,"width":0,"height":0,"label":"物件數量","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":819,"y":931.9999866485596,"wires":[[],[]]},{"id":"11dd5e3c.8eb0b2","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"c1f00f3a.3db98","order":0,"width":0,"height":0,"label":"機台溫度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":825,"y":975.9999866485596,"wires":[[],[]]},{"id":"d5360f7f.b7e47","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"c1f00f3a.3db98","order":0,"width":0,"height":0,"label":"機台電流","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":823,"y":1018.9999866485596,"wires":[[],[]]},{"id":"962eee6b.02031","type":"ui_text","z":"fe2974a8.a3a848","group":"67f3a00f.a7721","order":2,"width":"2","height":"1","name":"溫度","label":"","format":"{{msg.temp}}","layout":"row-right","x":764,"y":1217.9999866485596,"wires":[]},{"id":"aca7210d.833e2","type":"ui_text","z":"fe2974a8.a3a848","group":"a3bb967c.6a7528","order":0,"width":"2","height":"1","name":"濕度","label":"","format":"{{msg.humi}}","layout":"row-spread","x":764,"y":1277.9999866485596,"wires":[]},{"id":"4117e65a.580228","type":"ui_text","z":"fe2974a8.a3a848","group":"5bd06243.c0399c","order":2,"width":"2","height":"2","name":"光罩度","label":"光罩度 :","format":"{{msg.light}}","layout":"col-center","x":764,"y":1477.9999866485596,"wires":[]},{"id":"235c271c.c838a8","type":"ui_text","z":"fe2974a8.a3a848","group":"f4e3fb84.81e978","order":0,"width":"0","height":"0","name":"CO2","label":"","format":"{{msg.CO2}}","layout":"row-right","x":764,"y":1357.9999866485596,"wires":[]},{"id":"e5d3e612.35b868","type":"ui_text","z":"fe2974a8.a3a848","group":"a5d573e7.99db2","order":0,"width":"0","height":"0","name":"甲醛","label":"","format":"{{msg.TVOC}}","layout":"row-spread","x":764,"y":1417.9999866485596,"wires":[]},{"id":"f1f0b862.7498b8","type":"ui_gauge","z":"fe2974a8.a3a848","name":"溫度","group":"4b1fca44.b767f4","order":1,"width":"4","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#ff8000","#ca3838"],"seg1":"28","seg2":"32","x":630,"y":1220,"wires":[]},{"id":"5f77e8cc.3deb48","type":"ui_text","z":"fe2974a8.a3a848","group":"44ebf0bb.b0de7","order":2,"width":"2","height":"1","name":"狀態","label":"","format":"{{msg.temp_status}}","layout":"row-right","x":904,"y":1217.9999866485596,"wires":[]},{"id":"83072450.6ea338","type":"ui_text","z":"fe2974a8.a3a848","group":"8b7da4de.c3edb8","order":2,"width":"2","height":"1","name":"狀態","label":"","format":"{{msg.humi_status}}","layout":"row-right","x":904,"y":1277.9999866485596,"wires":[]},{"id":"1ea92ef2.a8aa31","type":"ui_gauge","z":"fe2974a8.a3a848","name":"濕度","group":"c84085.d85caf78","order":1,"width":"4","height":"3","gtype":"donut","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1280,"wires":[]},{"id":"3564e13a.af959e","type":"ui_gauge","z":"fe2974a8.a3a848","name":"CO2","group":"9ee6b3ab.afec4","order":1,"width":"4","height":"3","gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"600","seg2":"1000","x":630,"y":1360,"wires":[]},{"id":"a6324d1d.7e9f1","type":"ui_text","z":"fe2974a8.a3a848","group":"bd0e51c6.e15b8","order":2,"width":"2","height":"1","name":"狀態","label":"","format":"{{msg.CO2_status}}","layout":"row-right","x":904,"y":1357.9999866485596,"wires":[]},{"id":"d3cf55b8.78f878","type":"ui_gauge","z":"fe2974a8.a3a848","name":"甲醛圖","group":"941cd2e7.e2fc4","order":1,"width":"4","height":"3","gtype":"donut","title":"","label":"","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#ff8000","#ca3838"],"seg1":"50","seg2":"100","x":630,"y":1420,"wires":[]},{"id":"94721cb0.c716b","type":"ui_text","z":"fe2974a8.a3a848","group":"232d2d6a.ca7d42","order":2,"width":"2","height":"1","name":"狀態","label":"","format":"{{msg.TVOC_status}}","layout":"row-right","x":904,"y":1417.9999866485596,"wires":[]},{"id":"22fe11cc.13adfe","type":"ui_gauge","z":"fe2974a8.a3a848","name":"光照圖","group":"5bd06243.c0399c","order":1,"width":"4","height":"4","gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":1480,"wires":[]},{"id":"d042398b.ec8818","type":"ui_text","z":"fe2974a8.a3a848","group":"5bd06243.c0399c","order":3,"width":"2","height":"2","name":"狀態","label":"狀態","format":"{{msg.light_status}}","layout":"col-center","x":904,"y":1477.9999866485596,"wires":[]},{"id":"6bf05189.1efc","type":"mqtt in","z":"fe2974a8.a3a848","name":"","topic":"factory_setting","qos":"2","broker":"b6615a45.850708","x":114,"y":1157.9999866485596,"wires":[["ded12d80.a864e"]]},{"id":"ded12d80.a864e","type":"json","z":"fe2974a8.a3a848","name":"","property":"payload","action":"","pretty":false,"x":324,"y":1157.9999866485596,"wires":[["a011091d.78b608","8a2e5d5e.3e1e3","a0e389aa.bf72b8","9feb5480.3a6fa8","766e8e92.3f925"]]},{"id":"a011091d.78b608","type":"function","z":"fe2974a8.a3a848","name":"temp","func":"var data = msg.payload\nmsg1 = {};\nmsg.temp = data[0][1];\nmsg1.payload =  data[0][1];\nif(msg.temp < 28 )\n    {\n    msg.temp_status = \"優\"\n   \n    }\nif(msg.temp > 28 && msg.temp < 32 )\n    {\n    msg.temp_status = \"警告\"\n    \n    }\nif(msg.temp > 32 )\n    {\n    msg.temp_status = \"不適\"\n  \n    }\n    \nreturn [ msg , msg1 ]     \n","outputs":2,"noerr":0,"x":330,"y":1220,"wires":[["962eee6b.02031","5f77e8cc.3deb48"],["f1f0b862.7498b8"]]},{"id":"8a2e5d5e.3e1e3","type":"function","z":"fe2974a8.a3a848","name":"humi","func":"var data = msg.payload\nmsg1 = {};\nmsg.humi = data[0][2];\nmsg1.payload =  data[0][2];\n\nif(msg.humi < 50 )\n    {\n    msg.humi_status = \"太乾\"\n\n    }\nif(msg.humi > 50 && msg.humi < 70 )\n    {\n    msg.humi_status = \"優\"\n\n    }\nif(msg.humi > 70 )\n    {\n    msg.humi_status = \"不優\"\n\n    }\n    return [msg , msg1 ]\n","outputs":2,"noerr":0,"x":310,"y":1280,"wires":[["aca7210d.833e2","83072450.6ea338"],["1ea92ef2.a8aa31"]]},{"id":"a0e389aa.bf72b8","type":"function","z":"fe2974a8.a3a848","name":"CO2","func":"var data = msg.payload\nmsg1 = {};\nmsg.CO2 = data[0][3];\nmsg1.payload =  data[0][3];\nif(msg.CO2 > 1000 )\n    {\n    msg.CO2_status = \"危險\"\n\n    }\nif(msg.CO2 < 600  )\n    {\n    msg.CO2_status = \"優\"\n\n    }\nif(msg.CO2 > 6 && msg.CO2 < 1000 )\n    {\n    msg.humi_status = \"警告\"\n\n    }\n    return [msg , msg1 ]\n","outputs":2,"noerr":0,"x":304,"y":1357.9999866485596,"wires":[["235c271c.c838a8","a6324d1d.7e9f1"],["3564e13a.af959e"]]},{"id":"9feb5480.3a6fa8","type":"function","z":"fe2974a8.a3a848","name":"TVOC","func":"var data = msg.payload\nmsg1 = {};\nmsg.TVOC = data[0][4];\nmsg1.payload =  data[0][4];\nif(msg.TVOC > 100 )\n    {\n    msg.TVOC_status = \"危險\"\n\n    }\nif(msg.TVOC > 50 && msg.TVOC < 100 )\n    {\n    msg.TVOC_status = \"普通\"\n\n    }\nif(msg.TVOC < 50 )\n    {\n    msg.TVOC_status = \"優\"\n\n    }\n    return [msg , msg1 ]\n","outputs":2,"noerr":0,"x":314,"y":1417.9999866485596,"wires":[["e5d3e612.35b868","94721cb0.c716b"],["d3cf55b8.78f878"]]},{"id":"766e8e92.3f925","type":"function","z":"fe2974a8.a3a848","name":"light","func":"var data = msg.payload\nmsg1 = {};\nmsg.light = data[0][5];\nmsg1.payload =  data[0][5];\nif(msg.light > 600 )\n    {\n    msg.light_status = \"危險\"\n\n    }\nif(msg.light > 300 && msg.light < 600 )\n    {\n    msg.light_status = \"優\"\n\n    }\nif(msg.light < 300 )\n    {\n    msg.light_status = \"過暗\"\n\n    }\n    return [msg , msg1]\n","outputs":2,"noerr":0,"x":304,"y":1477.9999866485596,"wires":[["4117e65a.580228","d042398b.ec8818"],["22fe11cc.13adfe"]]},{"id":"a7a94144.0281a","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"17615c38.6598b4","order":0,"width":0,"height":0,"label":"震動指數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":588,"y":895.9999866485596,"wires":[[],[]]},{"id":"7553fc4d.eebdc4","type":"function","z":"fe2974a8.a3a848","name":"","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.payload = msg.shock1;\nmsg2.payload = msg.object1;\nmsg3.payload = msg.temp1 \nmsg4.payload = msg.current2\n\nreturn[msg1 , msg2 , msg3 , msg4]","outputs":4,"noerr":0,"x":558,"y":786.9999866485596,"wires":[["a7a94144.0281a"],["6edd38b3.3c9eb8"],["1d606bbb.85f584","81b837c3.f96698"],["6eacc27c.f6f3dc"]]},{"id":"6edd38b3.3c9eb8","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"17615c38.6598b4","order":0,"width":0,"height":0,"label":"物件數量","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":592,"y":931.9999866485596,"wires":[[],[]]},{"id":"1d606bbb.85f584","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"85c71767.a06838","order":0,"width":0,"height":0,"label":"機台溫度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":598,"y":975.9999866485596,"wires":[[],[]]},{"id":"6eacc27c.f6f3dc","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"85c71767.a06838","order":0,"width":0,"height":0,"label":"機台電流","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":596,"y":1018.9999866485596,"wires":[[],[]]},{"id":"7fc67ef3.ecfda","type":"ui_chart","z":"fe2974a8.a3a848","name":"機台狀態","group":"b02a3f2.be26dc","order":1,"width":0,"height":0,"label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","colors":["#00ff00","#ffff00","#df7000","#ff0000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":580,"y":700,"wires":[[],[]]},{"id":"81b837c3.f96698","type":"ui_gauge","z":"fe2974a8.a3a848","name":"機台溫度","group":"94783d47.1cc5","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":660,"wires":[]},{"id":"b9ce7f1.725098","type":"ui_text","z":"fe2974a8.a3a848","group":"a681306.83c17d","order":1,"width":"3","height":"1","name":"日期","label":"","format":"{{msg.date}}","layout":"row-right","x":591,"y":218.99998664855957,"wires":[]},{"id":"15826fb.8d1e29","type":"ui_text","z":"fe2974a8.a3a848","group":"3d4eb60d.42f8ba","order":2,"width":"3","height":"1","name":"時間","label":"","format":"{{msg.time}}","layout":"row-right","x":591,"y":258.99998664855957,"wires":[]},{"id":"c20c4a72.ef2478","type":"ui_text","z":"fe2974a8.a3a848","group":"6ead526.f7487ac","order":3,"width":"6","height":"1","name":"區域顯示","label":"","format":"{{msg.region}}","layout":"row-right","x":581,"y":298.99998664855957,"wires":[]},{"id":"15f9c652.ed281a","type":"ui_text","z":"fe2974a8.a3a848","group":"eb4d153b.90ffb8","order":4,"width":"3","height":"1","name":"工件名稱","label":"","format":"{{msg.name}}","layout":"row-right","x":581,"y":338.99998664855957,"wires":[]},{"id":"6b2b27f1.8025d8","type":"ui_text","z":"fe2974a8.a3a848","group":"ad57302d.960a2","order":5,"width":"3","height":"1","name":"管理者","label":"","format":"{{msg.manager}}","layout":"row-right","x":571,"y":378.99998664855957,"wires":[],"icon":"node-red-node-rbe/rbe.png"},{"id":"c1ba3ee0.e4691","type":"ui_text","z":"fe2974a8.a3a848","group":"60d696b9.1e2298","order":6,"width":"3","height":"1","name":"震動指數","label":"","format":"{{msg.shock}}","layout":"row-right","x":591,"y":418.99998664855957,"wires":[]},{"id":"44473f2d.26a1e","type":"ui_text","z":"fe2974a8.a3a848","group":"631a7799.5d9318","order":7,"width":"3","height":"1","name":"物件數量","label":"","format":"{{msg.object}}","layout":"row-right","x":581,"y":458.99998664855957,"wires":[]},{"id":"e8bbcf57.5cd3f","type":"ui_text","z":"fe2974a8.a3a848","group":"47fd7ae5.e392d4","order":1,"width":"3","height":"1","name":"機台溫度","label":"","format":"{{msg.temp}}","layout":"row-center","x":581,"y":498.99998664855957,"wires":[]},{"id":"4033086d.102968","type":"function","z":"fe2974a8.a3a848","name":"機台三","func":"var data = msg.payload;\n\nmsg.date = data[0].date.slice(0,10);\nmsg.time    = data[0].time;\nmsg.region  = data[0][1].fontsize(\"5\");\nmsg.name    = data[0][2].fontsize(\"5\");\nmsg.manager = data[0][3].fontsize(\"5\");\nmsg.shock   = data[0][4].fontsize(\"5\");\nmsg.shock1   = data[0][4];\nmsg.object  = data[0][5].fontsize(\"5\");\nmsg.object1  = data[0][5];\nmsg.temp    = data[0][6].fontsize(\"5\");\nmsg.current1 = data[0][7].fontsize(\"5\");\nmsg.temp1    = data[0][6];\nmsg.current2 = data[0][7];\nmsg.monor_status = data[0][8].fontsize(\"5\");\nmsg.machine_status  = data[0][9].fontsize(\"5\");\nmsg.value   = data[0][6];\nreturn msg;","outputs":1,"noerr":0,"x":611,"y":25.999990463256836,"wires":[["b9ce7f1.725098","15826fb.8d1e29","c20c4a72.ef2478","15f9c652.ed281a","6b2b27f1.8025d8","c1ba3ee0.e4691","44473f2d.26a1e","e8bbcf57.5cd3f","cc9171f0.56787","cc0ad70f.e69a38","be6abd25.81efd","7553fc4d.eebdc4"]]},{"id":"e4b8d77f.e7b478","type":"function","z":"fe2974a8.a3a848","name":"機台3","func":"var fruit = [\"0\" , \"0\" , \"0\" , \"0\"]\nvar fruit_long = msg.payload.length;\nvar status1 = 0\nvar status2 = 0\nvar status3 = 0\nvar status4 = 0\nfor(i = 0 ; i < fruit_long ; i++ )\n{\n\n    if(msg.payload[i][7] == \"正常狀態\")\n    {\n        fruit[0] = (status1++);\n    }\n    if(msg.payload[i][7] == \"異常狀態\")\n    {\n        fruit[1] = (status2++)\n    }\n    if(msg.payload[i][7] == \"待機狀態\")\n    {\n        fruit[2] = (status3++)\n    }\n    if(msg.payload[i][7] == \"危險狀態\")\n    {\n        fruit[3] = (status4++)\n    }\n}    \nmsg.payload = fruit;\nreturn msg;","outputs":1,"noerr":0,"x":596.51953125,"y":67.00389289855957,"wires":[["14db89d1.d2b2d6"]]},{"id":"14db89d1.d2b2d6","type":"function","z":"fe2974a8.a3a848","name":"機台3","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.topic = \"正常狀態\"\nmsg2.topic = \"異常狀態\"\nmsg3.topic = \"待機狀態\"\nmsg4.topic = \"危險狀態\"\n\nvar data1 = msg.payload[0];\nvar data2 = msg.payload[1];\nvar data3 = msg.payload[2];\nvar data4 = msg.payload[3];\n\nmsg1.payload = data1.toString()\n\nmsg2.payload = data2.toString()\n\nmsg3.payload = data3.toString()\n\nmsg4.payload = data4.toString()\n\nreturn [msg1  , msg2 , msg3 , msg4];","outputs":4,"noerr":0,"x":595.51953125,"y":118.00389289855957,"wires":[["7fc67ef3.ecfda"],["7fc67ef3.ecfda"],["7fc67ef3.ecfda"],["7fc67ef3.ecfda"]]},{"id":"cc9171f0.56787","type":"ui_text","z":"fe2974a8.a3a848","group":"5ccc18d9.df8428","order":2,"width":"3","height":"1","name":"機台電流","label":"","format":"{{msg.current1}}","layout":"row-center","x":583.51953125,"y":539.0038928985596,"wires":[]},{"id":"cc0ad70f.e69a38","type":"ui_text","z":"fe2974a8.a3a848","group":"3bda60ef.fc717","order":1,"width":"3","height":"1","name":"機台狀態","label":"","format":"{{msg.machine_status}}","layout":"col-center","x":582,"y":616.0000009536743,"wires":[]},{"id":"be6abd25.81efd","type":"ui_text","z":"fe2974a8.a3a848","group":"5180274b.7a5378","order":2,"width":"3","height":"1","name":"馬達狀況","label":"","format":"{{msg.monor_status}}","layout":"row-center","x":585.51953125,"y":576.0038928985596,"wires":[]},{"id":"e3bae442.799aa8","type":"ui_chart","z":"fe2974a8.a3a848","name":"","group":"64cfad23.0561c4","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00ff00","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1010,"y":920,"wires":[[],[]]},{"id":"5031a66c.18a558","type":"function","z":"fe2974a8.a3a848","name":"機台一","func":"var data = msg.payload;\n\nmsg.date = data[0].date.slice(0,10);\nmsg.time    = data[0].time;\nmsg.region  = data[0][1].fontsize(\"5\");\nmsg.name    = data[0][2].fontsize(\"5\");\nmsg.manager = data[0][3].fontsize(\"5\");\nmsg.shock   = data[0][4].fontsize(\"5\");\nmsg.shock1   = data[0][4];\nmsg.object  = data[0][5].fontsize(\"5\");\nmsg.object1  = data[0][5];\nmsg.temp    = data[0][6].fontsize(\"5\");\nmsg.current1 = data[0][7].fontsize(\"5\");\nmsg.temp1    = data[0][6];\nmsg.current2 = data[0][7];\nmsg.monor_status = data[0][9].fontsize(\"5\");\nmsg.machine_status  = data[0][8].fontsize(\"5\");\nmsg.value   = data[0][6];\nmsg.object1  = data[0][5];\nmsg.object_bad  = data[0][15];\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":20,"wires":[[]]},{"id":"3a5b426b.d5b68e","type":"function","z":"fe2974a8.a3a848","name":"機台1","func":"var fruit = [\"0\" , \"0\" , \"0\" , \"0\"]\nvar fruit_long = msg.payload.length;\nvar status1 = 0\nvar status2 = 0\nvar status3 = 0\nvar status4 = 0\nfor(i = 0 ; i < fruit_long ; i++ )\n{\n\n    if(msg.payload[i][8] == \"正常狀態\")\n    {\n        fruit[0] = (status1++);\n    }\n    if(msg.payload[i][8] == \"警告狀態\")\n    {\n        fruit[1] = (status2++)\n    }\n    if(msg.payload[i][8] == \"待機狀態\")\n    {\n        fruit[2] = (status3++)\n    }\n    if(msg.payload[i][8] == \"危險狀態\")\n    {\n        fruit[3] = (status4++)\n    }\n}    \nmsg.payload = fruit;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":60,"wires":[[]]},{"id":"2aa41e76.322452","type":"function","z":"fe2974a8.a3a848","name":"機台1","func":"msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.topic = \"正常狀態\"\nmsg2.topic = \"警告狀態\"\nmsg3.topic = \"待機狀態\"\nmsg4.topic = \"危險狀態\"\n\nvar data1 = msg.payload[0];\nvar data2 = msg.payload[1];\nvar data3 = msg.payload[2];\nvar data4 = msg.payload[3];\n\nmsg1.payload = data1.toString()\n\nmsg2.payload = data2.toString()\n\nmsg3.payload = data3.toString()\n\nmsg4.payload = data4.toString()\n\nreturn [msg1  , msg2 , msg3 , msg4];","outputs":4,"noerr":0,"x":1230,"y":120,"wires":[[],[],[],[]]},{"id":"d23b45c9.194a58","type":"ui_group","z":"","name":"日期","tab":"b56f6961.e71318","order":1,"disp":true,"width":"3"},{"id":"dab108a3.365638","type":"ui_group","z":"","name":"機台狀態","tab":"b56f6961.e71318","order":15,"disp":true,"width":"6"},{"id":"3c0e6c6e.24dd34","type":"ui_group","z":"","name":"機台溫度","tab":"b56f6961.e71318","order":14,"disp":true,"width":"6"},{"id":"8f223fa9.14857","type":"ui_group","z":"","name":"時間","tab":"b56f6961.e71318","order":2,"disp":true,"width":"3"},{"id":"e90cbc87.7de4b","type":"ui_group","z":"","name":"區域顯示","tab":"b56f6961.e71318","order":3,"disp":true,"width":"6"},{"id":"abbceea3.91b14","type":"ui_group","z":"","name":"工件名稱","tab":"b56f6961.e71318","order":4,"disp":true,"width":"3","collapse":false},{"id":"cebc67eb.dc1898","type":"ui_group","z":"","name":"管理者","tab":"b56f6961.e71318","order":5,"disp":true,"width":"3"},{"id":"405a4c41.e97314","type":"ui_group","z":"","name":"震動指數","tab":"b56f6961.e71318","order":6,"disp":true,"width":"3"},{"id":"2e1edb7c.203e24","type":"ui_group","z":"","name":"物件數量","tab":"b56f6961.e71318","order":7,"disp":true,"width":"3"},{"id":"da6a03a6.57a46","type":"ui_group","z":"","name":"機台溫度","tab":"b56f6961.e71318","order":9,"disp":true,"width":"3"},{"id":"b481f607.936118","type":"ui_group","z":"","name":"機台狀態","tab":"b56f6961.e71318","order":12,"disp":true,"width":"3"},{"id":"6c05b120.7d2c7","type":"ui_group","z":"","name":"日期","tab":"2fced3b2.66a25c","order":1,"disp":true,"width":"3"},{"id":"9e0931d8.1695","type":"ui_group","z":"","name":"機台狀況","tab":"2fced3b2.66a25c","order":15,"disp":true,"width":"6"},{"id":"e6e55f24.bde4a","type":"ui_group","z":"","name":"機台溫度","tab":"2fced3b2.66a25c","order":14,"disp":true,"width":"6"},{"id":"fa5b3825.4797f8","type":"ui_group","z":"","name":"時間","tab":"2fced3b2.66a25c","order":2,"disp":true,"width":"3"},{"id":"2ca71142.f9cc6e","type":"ui_group","z":"","name":"區域顯示","tab":"2fced3b2.66a25c","order":3,"disp":true,"width":"6"},{"id":"44ab0a1f.7f4014","type":"ui_group","z":"","name":"工件名稱","tab":"2fced3b2.66a25c","order":4,"disp":true,"width":"3","collapse":false},{"id":"15f861ff.5d6c6e","type":"ui_group","z":"","name":"管理者","tab":"2fced3b2.66a25c","order":5,"disp":true,"width":"3"},{"id":"e782184.06db9e8","type":"ui_group","z":"","name":"震動指數","tab":"2fced3b2.66a25c","order":6,"disp":true,"width":"3"},{"id":"784eb50f.20592c","type":"ui_group","z":"","name":"物件數量","tab":"2fced3b2.66a25c","order":7,"disp":true,"width":"3"},{"id":"bb082f23.c2daf","type":"ui_group","z":"","name":"機台溫度","tab":"2fced3b2.66a25c","order":9,"disp":true,"width":"3"},{"id":"35f733e2.35fe3c","type":"ui_group","z":"","name":"機台狀況","tab":"2fced3b2.66a25c","order":12,"disp":true,"width":"3"},{"id":"8f1cda2.6398828","type":"mqtt-broker","z":"","name":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bfed96c.888388","type":"ui_group","z":"","name":"機台電流","tab":"b56f6961.e71318","order":10,"disp":true,"width":"3"},{"id":"27e144ab.67f47c","type":"ui_group","z":"","name":"馬達狀況","tab":"b56f6961.e71318","order":13,"disp":true,"width":"3"},{"id":"f8954ce1.89d58","type":"ui_group","z":"","name":"機台電流","tab":"2fced3b2.66a25c","order":10,"disp":true,"width":"3"},{"id":"4de22b10.4369d4","type":"ui_group","z":"","name":"馬達狀況","tab":"2fced3b2.66a25c","order":13,"disp":true,"width":"3"},{"id":"64cfad23.0561c4","type":"ui_group","z":"","name":"歷史","tab":"2fced3b2.66a25c","order":8,"disp":true,"width":"6"},{"id":"4b8d4178.6aa0c","type":"ui_group","z":"","name":"歷史","tab":"2fced3b2.66a25c","order":11,"disp":true,"width":"6"},{"id":"9415f66b.420f68","type":"ui_group","z":"","name":"歷史","tab":"b56f6961.e71318","order":8,"disp":true,"width":"6"},{"id":"c1f00f3a.3db98","type":"ui_group","z":"","name":"歷史","tab":"b56f6961.e71318","order":11,"disp":true,"width":"6"},{"id":"67f3a00f.a7721","type":"ui_group","z":"","name":"溫度","tab":"25e4c886.ee57e8","order":2,"disp":true,"width":"2"},{"id":"a3bb967c.6a7528","type":"ui_group","z":"","name":"濕度","tab":"25e4c886.ee57e8","order":5,"disp":true,"width":"2"},{"id":"5bd06243.c0399c","type":"ui_group","z":"","name":"光照圖","tab":"25e4c886.ee57e8","order":13,"disp":true,"width":"6"},{"id":"f4e3fb84.81e978","type":"ui_group","z":"","name":"CO2","tab":"25e4c886.ee57e8","order":8,"disp":true,"width":"2"},{"id":"a5d573e7.99db2","type":"ui_group","z":"","name":"甲醛","tab":"25e4c886.ee57e8","order":11,"disp":true,"width":"2"},{"id":"4b1fca44.b767f4","type":"ui_group","z":"","name":"溫度","tab":"25e4c886.ee57e8","order":1,"disp":true,"width":"4"},{"id":"44ebf0bb.b0de7","type":"ui_group","z":"","name":"溫度狀態","tab":"25e4c886.ee57e8","order":3,"disp":true,"width":"2"},{"id":"8b7da4de.c3edb8","type":"ui_group","z":"","name":"濕度狀態","tab":"25e4c886.ee57e8","order":6,"disp":true,"width":"2"},{"id":"c84085.d85caf78","type":"ui_group","z":"","name":"濕度","tab":"25e4c886.ee57e8","order":4,"disp":true,"width":"4"},{"id":"9ee6b3ab.afec4","type":"ui_group","z":"","name":"CO2 ","tab":"25e4c886.ee57e8","order":7,"disp":true,"width":"4"},{"id":"bd0e51c6.e15b8","type":"ui_group","z":"","name":"CO2狀態","tab":"25e4c886.ee57e8","order":9,"disp":true,"width":"2"},{"id":"941cd2e7.e2fc4","type":"ui_group","z":"","name":"甲醛","tab":"25e4c886.ee57e8","order":10,"disp":true,"width":"4"},{"id":"232d2d6a.ca7d42","type":"ui_group","z":"","name":"甲醛狀態","tab":"25e4c886.ee57e8","order":12,"disp":true,"width":"2"},{"id":"b6615a45.850708","type":"mqtt-broker","z":"","name":"","broker":"liantw.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17615c38.6598b4","type":"ui_group","z":"","name":"歷史","tab":"acf140cf.5129c","order":8,"disp":true,"width":"6"},{"id":"85c71767.a06838","type":"ui_group","z":"","name":"歷史","tab":"acf140cf.5129c","order":11,"disp":true,"width":"6"},{"id":"b02a3f2.be26dc","type":"ui_group","z":"","name":"機台狀態","tab":"acf140cf.5129c","order":15,"disp":true,"width":"6"},{"id":"94783d47.1cc5","type":"ui_group","z":"","name":"機台溫度","tab":"acf140cf.5129c","order":14,"disp":true,"width":"6"},{"id":"a681306.83c17d","type":"ui_group","z":"","name":"日期","tab":"acf140cf.5129c","order":1,"disp":true,"width":"3"},{"id":"3d4eb60d.42f8ba","type":"ui_group","z":"","name":"時間","tab":"acf140cf.5129c","order":2,"disp":true,"width":"3"},{"id":"6ead526.f7487ac","type":"ui_group","z":"","name":"區域顯示","tab":"acf140cf.5129c","order":3,"disp":true,"width":"6"},{"id":"eb4d153b.90ffb8","type":"ui_group","z":"","name":"工件名稱","tab":"acf140cf.5129c","order":4,"disp":true,"width":"3","collapse":false},{"id":"ad57302d.960a2","type":"ui_group","z":"","name":"管理者","tab":"acf140cf.5129c","order":5,"disp":true,"width":"3"},{"id":"60d696b9.1e2298","type":"ui_group","z":"","name":"震動指數","tab":"acf140cf.5129c","order":6,"disp":true,"width":"3"},{"id":"631a7799.5d9318","type":"ui_group","z":"","name":"物件數量","tab":"acf140cf.5129c","order":7,"disp":true,"width":"3"},{"id":"47fd7ae5.e392d4","type":"ui_group","z":"","name":"機台溫度","tab":"acf140cf.5129c","order":10,"disp":true,"width":"3"},{"id":"5ccc18d9.df8428","type":"ui_group","z":"","name":"機台電流","tab":"acf140cf.5129c","order":9,"disp":true,"width":"3"},{"id":"3bda60ef.fc717","type":"ui_group","z":"","name":"機台狀態","tab":"acf140cf.5129c","order":13,"disp":true,"width":"3"},{"id":"5180274b.7a5378","type":"ui_group","z":"","name":"馬達狀況","tab":"acf140cf.5129c","order":12,"disp":true,"width":"3"},{"id":"b56f6961.e71318","type":"ui_tab","z":"","name":"機台2","icon":"dashboard","order":4},{"id":"2fced3b2.66a25c","type":"ui_tab","z":"","name":"機台1","icon":"dashboard","order":3},{"id":"25e4c886.ee57e8","type":"ui_tab","z":"","name":"環境","icon":"dashboard","order":6},{"id":"acf140cf.5129c","type":"ui_tab","z":"","name":"機台3","icon":"dashboard","order":5}]